[2015-10-28 12:03] ebuchman opened #1 "Test tendermint/binary binary+json encoding+decoding of bytearrays and other-arrays"
Fixed length arrays! We need to test them.

[2015-12-30 13:35] readevalprint opened #3 "What is "wire"?"
So I'm trying to make a Python3 compatible example for the tmsp. And came across this error[1] in the current Python 2 version. But reading through this repo I'm trying to understand what is the goal of making a new protocol. This seems really close to BSON but the benefit of BSON is that is supports hash mapping.

https://en.wikipedia.org/wiki/BSON

[1]

[code]

[2015-12-30 16:27] ebuchman commented on #3
Great question. This is an active area of discussion for us and maybe you can weigh in. We rolled our own serialization format, whose canonical implementation is at https://github.com/tendermint/go-wire. The most important thing is that the serialization be 100% deterministic - hash maps typically don't guarantee that since iteration is randomized, but maybe BSON does? Anyways, we've been thinking

[2015-12-30 16:29] jaekwon commented on #3
To add to the discussion,

The goal is to be as short of a binary representation as reasonably possible while still being very simple to parse, while also keeping it deterministic.  BSON encodes the keys of fields, and in the case of arrays it encodes the array indices as well.  Wire only encodes the field values in order, and the array values in order as well.  Apache Avro or SBE are also compara

[2015-12-30 16:51] readevalprint commented on #3
tl;dr protobuf is great if your data schema is known in advance.

Thanks for the response, I do understand the need for determinism. Coming from a Python background we have OrderedDict whose keys are sorted in the order added which allows you to then sort keys alphabetically. From a quick search, it seems golang sorts JSON keys lexicographically too.

As for Protobuf, I considered mentioning it bu

[2015-12-30 16:55] ebuchman commented on #3
Great info, thanks! We've been punting on what to do with wire but it has come up a few times now from users who are confused about it lol.  Will check out capnproto. All our data types are known ahead of time so I'm pretty sure protobuf or its successor would be a good fit for us. In the meantime, until its more urgent, we'll probably just stick with wire, and the necessary pieces for implementin

[2016-01-12 18:57] jaekwon opened #4 "Support arbitrary maps"
As long as it's a field, and tagged as `wire:ordered`, or `wire:unsafe`.  Unsafe is faster, ordered is slower but deterministic.

[2016-01-12 22:09] jaekwon commented on #4
Also, floats.

[2016-01-15 20:24] ebuchman opened #6 "support `omitempty`"

[2016-01-31 10:44] #3 closed, assigned to nobody

[2016-01-31 20:36] jtremback commented on #3
Protobufs is not deterministic, unfortunately

[2016-03-23 06:58] jaekwon opened #7 "JSONBytesPtr and BinaryBytesPtr"
So we don't have to do the `struct{ MyInterface }{foo}` business.

[2016-04-29 22:00] ebuchman opened #8 "support canonical json marshaling"
eg. for transaction signing/checking, so apps don't have to implement it manually.

should be alphabetically ordered, no spaces.

[2016-07-12 11:42] silasdavis opened #9 "Should RegisterInterface PanicSanity if re-registering a type?"
Currently go-wire will let you overwrite the global serialisation info for a particularly interface type:

https://github.com/tendermint/go-wire/blob/master/reflect.go#L144

This opens up the possibility for some nasty import tree ordering bugs. Reorganising your code could lead to a different registration winning, leading to odd behaviour.

It seems like it should always be an error to try and re

[2016-07-12 13:43] ebuchman commented on #9
Interesting. You're talking about registering an interface from a particular package with go-wire twice? Maybe you're right it should panic, I guess we never thought any one would ever do that. Did this trip you up, or you just discover it?

[2016-07-12 15:55] silasdavis commented on #9
I was just reading the code, but I've definitely been caught up by a similar things in the past. I do way more stupid things than this too. A case a bit like this is metaprogramming in a language like Ruby, where you can reopen classes. You implement some extension method, go away for a while, come back to the code decide to implement the same thing again subtlety differently. Everything's fine un

[2016-07-12 18:40] ebuchman commented on #9
Yeh, sounds horrible. Care to make a PR?

[2017-03-29 13:33] ethanfrey commented on #1
Is this still open? Or fixed by now?

[2017-03-29 13:34] ethanfrey commented on #6
Seems fixed.  Close issue?

[2017-03-29 19:30] ethanfrey opened #12 "Panic when feeding invalid data"
In my tests, I marshal a valid proof to bytes, then fuzz it with MutateBytes, and get quite a few panics (which I had to catch).  It would be nice to make go-wire a bit more robust:

Seems if no limit is passed in (ReadBinaryBytes), this length can overflow.
https://github.com/tendermint/go-wire/blob/master/byteslice.go#L28

[code]

For some strange reason the same fuzz code doesn't cause a panic

[2017-04-03 14:34] ethanfrey opened #14 "go-wire ReadBinaryBytes can hang sometime"
I have no reproduceable case yet, but I have observed 2 or 3 times now that when running test cases that mutate bytes to generate many thousand examples of mutated data, that occassionally the test will hang.  I am pretty sure it is due to the ReadBinaryBytes method, as that was the only code in common between the two test cases (unless somehow MutateByteSlice causes an inifite loop).

So, keep yo

[2017-04-04 12:38] ethanfrey commented on #14
Found the issue and fixed it in PR #15  Waiting for review...

[2017-05-12 15:35] ethanfrey opened #19 "Add code generation for go-data adaptors"
Every interface we want to use with go-data's json adaptor needs to be embedded in a struct and have some boilerplate methods.

Some examples are here:

https://github.com/tendermint/go-crypto/blob/develop/pub_key.go#L23-L67
https://github.com/tendermint/go-crypto/blob/develop/priv_key.go#L131-L133

https://github.com/tendermint/go-crypto/blob/develop/priv_key.go#L36-L63

This become boilerplate w

[2017-05-14 23:21] ethanfrey commented on #19
This is working now, as of 17c99de.  At least on my machine.

I need some feedback, and try this out a bit more...

[2017-05-14 23:21] ethanfrey commented on #14
Already merged.

[2017-05-14 23:21] #14 closed, assigned to nobody

[2017-05-14 23:22] ethanfrey commented on #12
Also fixed with the above merge.

[2017-05-14 23:22] #12 closed, assigned to nobody

[2017-05-15 00:53] ethanfrey commented on #19
As of 8b47d1a now built everything for go-crypto properly

[2017-05-15 00:53] #19 closed, assigned to nobody

[2017-05-15 13:10] #6 closed, assigned to jaekwon

[2017-07-18 16:53] ethanfrey opened #21 "Allow more than 1 TypeByte"
I am sure 256 types seems like quite a few implementations, but slowly this is becoming an issue with basecoin aka quark

We define one Tx struct and a TxInner interface that all transactions must implement in every app.  This allows us to very easily marshal and unmarshal both json and binary data, handle nested tx transparently, etc. I am very happy with this.  However.... we currently have 15 t

[2017-07-18 17:25] rigelrozanski commented on #21
Just noticed that it doesn't appear that `kind` within `RegisterImplementation` is used? There to fulfill and interface? I agree that it makes sense to allow for more flexibility by extending the typebytes array. Allowing for layers of typebyte would allow for easier extensibility - aka each zone in a COSMOS hub could have its own typebyte space. It's a bit more clear if we can stick to using the

[2017-07-18 17:26] ethanfrey commented on #21
It's used by the json mapper

Please look at the `data` subdir... not too much and that is the interface I've been porting all code to use.

The problem with layers of type bytes is the json format...

[code]

And that at every level of wrapping... I think the users of the API would kill us when the json is 17 layers deep.

[2017-07-18 18:50] ebuchman commented on #21
Is it possible to support sub-types in go-wire yet ? If not, would this be a better approach? It would basically amount to register another interface as a concrete implementation of a type, so you'd need more than one type byte to resolve to a real concrete type

[2017-08-16 18:57] zramsay opened #22 "unify go-data json and go-wire json"
@ethanfrey commented on [Thu Mar 02 2017](https://github.com/tendermint/go-data/issues/2)

go-data json makes for nice apis and handles all the types that go-wire does. however, the json format is designed for readability and apis, rather than determinism.  in fact, setting the global `data.Encoder` will definitely lead to different results in different apps. This is fine for an exchange format, b

[2017-08-17 21:31] ethanfrey commented on #22
Yes, I think we need to clean this up (in tendermint), then can remove the go-wire/json completely.

Check with @ebuchman and @melekes who are working the most on the tendermint codebase.

[2017-08-17 21:32] ebuchman commented on #22
See also https://github.com/tendermint/tendermint/issues/608 (note some of that is due to the merkleeyes app I threw together specifically for jepsen testing - could have been more standard)

[2017-08-24 20:12] zramsay commented on #9
is this an actionable issue or was the question sufficiently answered?

[2017-08-25 06:33] adrianbrink commented on #9
@zramsay Yes it is, and we can easily fix this.

[2017-09-09 20:44] ethanfrey opened #23 "Rethink go-wire API"
As we are working to design the cosmos-sdk API, I am writing up sample apps, and realized how confusing it can be to explain go-wire to newcomers.  Not just funny things like needing to embed an interface in a struct, but also the api itself. I want to propose that we redesign the public API, hide most of the methods (which can be private), and adapt the rest to match a cleaner interface. I am not

[2017-09-10 10:08] ethanfrey opened #24 "Make go-data json setup comprehensible"

[2017-09-10 10:10] ethanfrey commented on #24
Right now, the go data json api is relatively easy to use, a bit of confusion on Wrap and Unwrap that should be cleaned up, but somewhat decent.

However, setting up the wrapping struct, adding methods, registration, etc. Is quite confusing. We have a code generator tool to help, but only Frey can make use of it.

We need to rethink this to make these features easily usable by new developers

[2017-09-11 10:16] cloudhead commented on #23
+1

We don't want users to have to learn an entirely different library just to do binary encoding/decoding. It should be a drop-in for the gob/json stdlibs ideally.

[2017-09-11 10:16] ethanfrey commented on #23
Some random thoughts:
https://chadaustin.me/2017/06/json-never-dies-an-efficient-queryable-binary-encoding/
https://github.com/capnproto/go-capnproto2

[2017-09-11 21:28] mveytsman opened #25 "Encoding of a large byteslice causes a runtime panic"
The following snippet causes a runtime panic (on go version go1.9 darwin/amd64)

[code]

This is because https://github.com/tendermint/go-wire/blob/5f88da3dbc1a72844e6dfaf274ce87f851d488eb/byteslice.go#L28 allocates a buffer based on the result of `ReadVarInt`, which can be as large as `math.MaxInt64 = 9223372036854775807`. This is larger than the maximum slice size. (according to [this](https://b

[2017-09-11 21:43] mveytsman opened #26 "Reading byte array types doesn't respect `lmt`"
When a bytearray is read by `readReflectBinary`
https://github.com/tendermint/go-wire/blob/5f88da3dbc1a72844e6dfaf274ce87f851d488eb/reflect.go#L249-L257

the check to make sure that the length being read doesn't go over `lmt` is skipped

This check will still eventually happen in `ReadBinary` https://github.com/tendermint/go-wire/blob/5f88da3dbc1a72844e6dfaf274ce87f851d488eb/wire.go#L39-L41 but it

[2017-09-12 18:53] mveytsman opened #27 "Unify GetFoo and ReadFoo along with PutFoo and WriteFoo"
the following functions have both a `Read` (from a `Reader`) and a `Get`  (from a `[]byte` buffer) variant

- `GetByteSlice` / `ReadByteSlice`
- `GetBool` / `ReadBool`
- `GetInt16` / `ReadInt16`
- `GetUint16` / `ReadUint16`
- `GetInt23` / `ReadInt32`
- `GetUint32` / `ReadUint32`
- `GetInt64` / `ReadInt64`
- `GetUint64` / `ReadUint64`
- `GetVarint` / `ReadVarint`
- `GetUvarint` / `ReadUvarint`
- `G

[2017-09-12 19:02] mveytsman opened #28 "Panic caused by decoding invalid time."
There's a panic here:
https://github.com/tendermint/go-wire/blob/5f88da3dbc1a72844e6dfaf274ce87f851d488eb/time.go#L23-L25

that can be triggered with malicious user input.

I.e. the following test panics:

[code]

This is a denial of service vector similar to https://github.com/tendermint/go-wire/issues/25

We should instead do something like `t = t / 1000000 * 1000000` or just error out.

[2017-09-12 19:55] mveytsman opened #29 "codec.go is dead code"
might as well rm it.

[2017-09-19 22:55] odeke-em opened #32 "doc.go, provide examples and high level description of go-wire and how to use it"
I realize that go-wire is a low-level codec, comparable with https://golang.org/pkg/encoding/gob/
and this of course requires one to register each type and set its identifying ID or type byte.

However, the package is quite undocumented and requires guessing around in order to use it. We could use a doc.go file at the top level and perhaps some examples.

It took me having to spend hours going thr

[2017-09-20 02:07] odeke-em opened #34 "document and enforce that wire.RegisterInterface requires an exported receiver interface"
I spent a bunch of time making repros and not figuring out why they were crashing but alas the problem is that wire requires the receiving interface to be exported i.e start with a capital letter.

Exhibit
---

### Failing case
[code]
gives
[code]

#### Passing case
Just modifying the case of `recv` to `Recv`
[code]
And it passes with no crash
[code]

Prognosis
---
Most likely we are just a victim

[2017-10-04 18:05] zramsay commented on #29
#31

[2017-10-04 18:05] #29 closed, assigned to nobody

[2017-10-04 20:48] #32 closed, assigned to nobody

[2017-10-05 05:28] jaekwon commented on #23
You'll see lines of code like `if lmt != 0 && lmt < *n` in reflect.go.  It's there to abort reading the object when e.g. you're trying to allocate for a slice that is larger than the bytes that are remaining to be read.  In other words, if we're reading a byte slice and the first number (length of the slice) read was 10,000,000, but lmt is 500,000, then we know that this structure is Byzantine and

[2017-10-05 05:30] jaekwon commented on #23
I think everything except this allocation-bounds & early abort, can be replaced with the Marshal/Unmarshal/Encoder/Decoder w/ a CounterReader that aborts when too many bytes are read from the underlying reader.  But that isn't allocation-safe.

[2017-10-05 22:17] odeke-em opened #36 "WriteJSON: handle marshaling nil as a top level value"
Go's "encoding/json" can successfully marshal a nil value, whether it is typed or not for example https://play.golang.org/p/dZ_N86Onh8 or inlined
[code]
which gives `null`

However, our package trips out. The question is: should we allow marshaling `nil` to `null`? I realize that most of the usages of this package is with non-nil values but I was just trying to provide test coverage for `tendermin

[2017-10-05 22:19] odeke-em commented on #36
PS: I encountered this while testing https://github.com/tendermint/tendermint/blob/49653d3e31e34a5da83e16e9ffdcd95a68acd9be/types/heartbeat.go#L24-L30

[2017-10-06 22:16] odeke-em opened #37 "ReadSlice: limit the max length for slices before invoking make([]byte, length)"
Just found with go-fuzz, we should check that the number of bytes in the slice doesn't overflow.
The offending code below is at

https://github.com/tendermint/go-wire/blob/5f88da3dbc1a72844e6dfaf274ce87f851d488eb/byteslice.go#L28

In the check right above, we should also perform the due diligence to ensure that we report `ErrBinaryReadOverflow`

https://github.com/tendermint/go-wire/blob/5f88da3db

[2017-10-06 23:13] odeke-em commented on #25
Great work @mveytsman, also found independently by go-fuzz https://github.com/tendermint/go-wire/issues/37 in Tendermint https://github.com/tendermint/tendermint/issues/722. I'll issue a fix and tests.

[2017-10-07 21:46] odeke-em commented on #22
Coming here from an internal reference/discussion.
In regards to the first 2 links which still work, the rest have changed as they weren't permalinks, here  are the first two links:
- https://github.com/tendermint/tendermint/blob/7682ad9a60162dd17fd6f61aeed7049a8635ac78/types/vote.go#L60-L65
- https://github.com/tendermint/tendermint/blob/7682ad9a60162dd17fd6f61aeed7049a8635ac78/types/part_set.go#

[2017-10-08 14:11] ethanfrey commented on #23
`Marshal` / `Unmarshal` take a `[]byte` as input and you can calculate the limit from the input and be safe from allocation issues, no need to require it in the API.

Just like: https://github.com/tendermint/go-wire/blob/master/util.go#L25

The issue with handling and `io.Reader` is quite valid.

[2017-10-08 14:16] ethanfrey commented on #23
One thought from the protobuf docs (which have a similar problem):

If you want to write multiple messages to a single file or stream, it is up to you to keep track of where one message ends and the next begins. The Protocol Buffer wire format is not self-delimiting, so protocol buffer parsers cannot determine where a message ends on their own. The easiest way to solve this problem is to write the

[2017-10-08 16:44] jaekwon commented on #23
On second thought, Marshal/Unmarshal takes []byte, which means we know the length of the bytes to be read, so it doesn't require a CounterReader.

My current thinking is that go-wire can absolutely support Marshal/Unmarshal safely.

This leaves the option to change ReadBinary/ReadBinaryPtr into Encode/Decode.  Anyone have any proposal for that?

In any case, Tendermint reactor Receive() passes []b

[2017-10-10 15:04] ebuchman opened #41 "Document non-extensibility of wire encoded types"
eg. https://github.com/tendermint/go-wire/pull/35

[2017-10-13 06:20] odeke-em commented on #37
Fixed by https://github.com/tendermint/go-wire/pull/38.

[2017-10-13 06:20] #37 closed, assigned to nobody

[2017-10-26 21:25] #25 closed, assigned to nobody

[2017-11-11 18:52] petabytestorage opened #48 "reconsider silent encoding of struct without interface registered causing omitted type field"
it seems weird to me that when one fails to `wire.RegisterInterface` in advance, the system still produces an output but it is missing the type byte and has the length varint there instead.

[code]
based on `Animal` example in `go-wire` main doc page on github with `wire.RegisterInterface` commented out in the second case.

here's the problem in `wire.go`: https://github.com/tendermint/go-wire/blo

[2017-12-01 08:00] ebuchman opened #55 "Type Assert data.Bytes on protobuf Marshaler/Unmarshaler"
https://github.com/tendermint/go-wire/pull/52#discussion_r154277039

[2017-12-03 16:13] ebuchman opened #56 "Consider 32-bit systems"
We probably want this to work on 32-bit systems, and there are some places where we cast to `int` or `uint`, which might compromise things.

At some point we should decide if/that we need to support 32-bit and deal with this.

[2017-12-03 16:15] ebuchman opened #57 "Why Uint16s"
We have functions for writing `[]uint16` but not anything else.

Do we need that? Maybe we can remove.

Also, the implementation appears buggy: https://github.com/tendermint/go-wire/blob/develop/nowriter/tmdecoding/tm_decoder_pure.go#L158
 - should use `+2` and needs to slice off the first 4 bytes (the length) before reading the rest

[2017-12-03 16:17] petabytestorage commented on #56
should we put this decision off until we have 64-bit working solidly?

[2017-12-03 16:20] petabytestorage commented on #57
i think for a primitive writing interface it makes sense to provide the most generic variations. for the most generic version it is obvious to me we want a raw uint16 writer than takes an array and does not prepend the length. because without it a lot of stuff becomes impossible. whereas if we have that function available it can be easily combined with another simple primitive writer to create the

[2017-12-03 16:23] ebuchman commented on #57
sure, but shouldn't we also have `Uint32s` and `Int32s` and so on ? Seems a bit excessive, and we don't even use them anywhere.

My impression would be that the lib would know how to handle slices of its native types, and we can have options for both raw encoding and length-prefixed encoding of them.

But not sure it means we need all these special functions for arrays of everything ? Maybe I'm wr

[2017-12-03 16:24] ebuchman commented on #56
Yes absolutely.

[2017-12-03 16:44] petabytestorage commented on #57
1. it's not obvious whether or not we use them in general and it's not clear from the code as it stood that we don't use them. even if we don't currently use them here is a case where having the full functionality available in advance is not wrong. because there's no question not having it is potentially a big performance hit and also having it clearly in one spot with good names means the cost is

[2017-12-03 16:45] petabytestorage commented on #57
2. Then introduce LengthPrefixedArrayWriter with a similar or same interface signature and we are done and clearer and more testable and easier to understand and carry.

[2017-12-03 16:54] petabytestorage commented on #57
3. There are many tangents. We should do the most important ones first. As we increase in awareness that means we are noticing more openings yet being more discriminating by discounting those openings that are likely to be easy to fix later or have less impact.  I want clarity as the primary impact here and I wanted it last week. So in this specific case, I agree with you that we should have 8, 32

[2017-12-03 16:55] petabytestorage commented on #57
for me it is a no-brainer that the raw versions are clearer so carry their own weight. the length prefixed versions are confusing (poorly) named, so rightly removed and only reintroduced when somebody bothers to describe them in technical monosemous terms.

[2017-12-03 18:09] petabytestorage opened #58 "make raw UnlengthPrefixedArrayEncoder"
just array versions of primitives for efficiency and convenience and cleanliness in advance because they are so easy. 8x: 8,16,32,64 and int/uint

[2017-12-03 18:11] petabytestorage opened #59 "make LengthPrefixedEncoder"
same as UnlengthPrefixEncoder for block writing array primitives but prepending some kind of integer type in advance to say how many elements

design decision:  do we use the same fixed length int everywhere? like 32 bits maybe?  or do we use varint everywhere?  or do we need multiple interface choices here?

[2017-12-03 18:13] petabytestorage commented on #57
https://github.com/tendermint/go-wire/issues/58 and https://github.com/tendermint/go-wire/issues/59

[2017-12-07 21:01] spacejam opened #63 "use testing/quick for encoding + encode/decode round trips"
[code]

[2017-12-17 21:21] odeke-em opened #65 "codecs: implement custom byte types Vs only Bytes and defining global codecs"
@jaekwon asked me to post up some comments that I made on PR https://github.com/tendermint/tmlibs/pull/102
about defining codecs instead of just defining custom byte types.
**TL;DR:** instead of defining multiple codecs and then using init in code that might need to encode/decode Bytes differently, let's define derivative Bytes each with their custom *Marshal* methods then freely use those types e

[2017-12-21 12:18] zramsay commented on #36
close?

[2017-12-26 06:20] jaekwon commented on #65
How about we just have a standard of using cmn.Bytes for hex encoding, and not implement all the other jazz?

[2017-12-26 07:54] odeke-em commented on #65
SGTM! In fact that's what you did in tmlibs.

[2018-01-08 07:22] odeke-em opened #76 "all: go fmt"
I just peeked into this code and noticed un-gofmt'd code that has been in since like 2016. Could we please implement a pre/post commit hook  that ensures all *.go files are go fmt'd?

https://github.com/tendermint/go-wire/blob/27be46e25124ddf775e23317a83647ce62a93f6b/expr/expr.go#L2-L766

[2018-01-13 21:22] odeke-em commented on #36
@zramsay I doubt this issue is fixed.

[2018-01-14 00:37] odeke-em opened #78 "sdk: run vet on codec.go"
While working on a feature for sdk, I was running tests and encountered this
[code]

/cc @jaekwon.

[2018-01-14 08:52] odeke-em opened #81 "sdk2: tests are failing on go1.10beta* with infinite recursion"
The tests are failing when run with go1.10beta* with such a heavy stack trace

[code]

[2018-01-20 10:25] jaekwon opened #85 "Support MarshalWire, UnmarshalWire"
MarshalWire() and UnmarshalWire() take the following set of method signature formats:

`(_ MyObject) MarshalWire() (repr <T>, err error)`
`(_ MyObject) UnmarshalWire(repr <T>) (err error)`

For example,

[code]

Benefits: Works for all encoding schemes, e.g. even if we were to support say MarshalProto.

[2018-01-20 10:31] jaekwon opened #86 "Get rid of global Marshal* Register* functions"
If you rely on the global methods, any library can register concrete on some structure that you weren't expecting to be concrete.

This is a side-effect of wanting to always include the 4-byte prefix.  This allows us to marshal the concrete type, and unmarshal into an interface.

But this feature is incompatible with safety in the context of a globally shared codec.  Nobody can safely use wire.Mar

[2018-01-22 04:55] jaekwon opened #87 "Test for when UnmarshalBinary in a struct interface field with nil value"
We clearly weren't testing, since this fix went unnoticed by tests:

https://github.com/tendermint/go-wire/commit/c7801c1586f51bb28028cd420c599516d7ac9c36

[2018-01-24 01:06] odeke-em opened #88 "sdk2: fix invalid and expensive byte trim code"
I was just reviewing the code to see why our tests take 67seconds to run and noticed that
throughout in the code we have patterns of code such as
https://github.com/tendermint/go-wire/blob/c7801c1586f51bb28028cd420c599516d7ac9c36/reflect.go#L809-L811

and
https://github.com/tendermint/go-wire/blob/c7801c1586f51bb28028cd420c599516d7ac9c36/reflect.go#L814-L816

the above pattern is both invalid and

[2018-02-03 04:36] #86 closed, assigned to nobody

[2018-02-03 05:54] odeke-em commented on #87
[code]
Perhaps this can test, giving
[code]

[2018-02-03 06:21] odeke-em commented on #78
I believe @jaekwon already fixed this with:
a) https://github.com/tendermint/go-wire/commit/c564d018e133a8808306588b04baf63ed31bd41c#diff-365652330e79ea705fe1e6d0a561ee13
b) https://github.com/tendermint/go-wire/commit/c564d018e133a8808306588b04baf63ed31bd41c#diff-365652330e79ea705fe1e6d0a561ee13R407

[2018-02-03 06:21] #78 closed, assigned to nobody

[2018-02-03 06:25] odeke-em commented on #81
Not a problem anymore.

[2018-02-03 06:25] #81 closed, assigned to jaekwon

[2018-02-10 05:41] odeke-em opened #96 "fuzz testing for go-wire"
We've refurbished the go-wire code from the sdk binary and json codec rewrites. It'd nice for us to fuzz all of them with byte inputs(ie decode) as @jaekwon already started fuzzing with structs(encode then decode) as per https://github.com/tendermint/go-wire/blob/dec83f641903b22f039da3974607859715d0377e/reflect_test.go#L242-L463

[2018-02-10 05:44] odeke-em commented on #88
And with the goal of reusing and not reinventing the wheel it:
[code]

[2018-02-10 06:26] odeke-em opened #97 "EncodeTime: fix comment about cast to int32"
Currently in the code on develop we have https://github.com/tendermint/go-wire/blob/dec83f641903b22f039da3974607859715d0377e/encoder.go#L126

saying 'this int64 --> int32 is safe.'

However, that's a little bit misleading because t.NanoSecond() returns an int
and the range of nano-seconds is guaranteed to be [0, 999999999]
as per https://golang.org/pkg/time/#Time.Nanosecond

plus the range of int

[2018-02-10 07:17] odeke-em opened #98 "UvarintSize is unnecessarily expensive"
I was just auditing the code for fuzzing when I noticed that UvarintSize while trying to find the size of an uint64 actually performs a full binary.PutUvarint encoding and then only extracts the number of bytes written.

We can improve this:
In order to count the number of bytes, we can simply deduct off a byte each time i.e 7 bits off each time so for example to count that we have 3 bytes in 0xFF

[2018-02-10 07:24] odeke-em commented on #98
I believe perhaps we can also take a look at https://github.com/tendermint/go-wire/blob/dec83f641903b22f039da3974607859715d0377e/encoder.go#L45-L49

[2018-02-20 14:53] ebuchman opened #101 "How to unmarshal from a reader?"
Do we really just need to read everything manually one byte at a time or whatever?

Otherwise there's no way to know how long a buffer to create and read into to unmarshal from.

Eg. in Tendermint p2p, we have to read msgPacket. We'll have to

[code]

[2018-02-21 06:25] ebuchman opened #102 "allocation size out of range"
From Tendermint `types` testing/fuzzing:

--- FAIL: TestTxProofUnchangable (2.08s)
panic: runtime: allocation size out of range [recovered]
        panic: runtime: allocation size out of range

goroutine 51 [running]:
testing.tRunner.func1(0xc4208d2870)
        /Users/ethanbuchman/goRoot/1.9.4/src/testing/testing.go:711 +0x2d2
panic(0x156a980, 0x179e970)
        /Users/ethanbuchman/goRoot/1.9.4/sr

[2018-02-21 07:31] zmanian commented on #102
Seems related.
https://stackoverflow.com/questions/25384640/why-golang-reflect-makeslice-returns-un-addressable-value

[2018-02-21 14:32] ebuchman opened #103 "panic: MarshalBinary cannot marshal a nil pointer."
This is from trying to compute the Merkle tree of Commits, where some of them are nil.

--- FAIL: TestBeginBlockAbsentValidators (0.00s)
panic: MarshalBinary cannot marshal a nil pointer. [recovered]
        panic: MarshalBinary cannot marshal a nil pointer.

goroutine 26 [running]:
testing.tRunner.func1(0xc42018c960)
        /Users/ethanbuchman/goRoot/1.9.4/src/testing/testing.go:711 +0x2d2
panic

[2018-02-21 17:10] odeke-em commented on #102
This issue was previously also found from fuzzing, PR previously was https://github.com/tendermint/go-wire/pull/38. Returned from the rewrite.

[2018-02-21 17:55] ebuchman commented on #103
Looks like this is expected behavour because of the way we encode nil fields now (ie. as their absence, like in protobuf).

So either need to check for nil before marshalling or wrap it in a struct

[2018-02-21 19:41] ebuchman commented on #101
Let's write a convenience function that takes a reader and max number of bytes and provides this functionality

[2018-02-22 16:26] ebuchman opened #105 "How does JSON work?"
Looking at the tests I see the `_df` and `_v` fields.

Is this really what we want users to be seeing in their genesis files and over RPC?

Can we get the old format with `type` and `value` back ?

[2018-02-22 16:26] #103 closed, assigned to nobody

[2018-02-22 16:59] ebuchman commented on #101
@odeke-em can you take this on? We need to be able to unmarshal off sockets

[2018-02-22 18:52] odeke-em commented on #105
@ebuchman
"_df" are the disambiguation/disfix bytes that are necessary when we encode an interface with methods
"_v" are the bytes of the underlying type

They are used later on while disambiguating to a specific type.

[2018-02-23 18:00] ethanfrey opened #106 "Cannot json serialize map"
JSON encoding handles primative types, structs, arrays, and anything with a registered handler, but it does not support `maps`. Maybe this is a design decision?
https://github.com/tendermint/go-wire/blob/develop/json-encode.go#L16-L106

We need to use `wire.Un/MarshalJSON()` to serialize and deserialize all rpc endpoints and events, so they can handle the interfaces well. However, dump_consensus_s

[2018-02-23 18:01] ethanfrey commented on #106
To clarify, this is needed to resolve an error in the tendermint -> new go-wire upgrade

[2018-02-23 20:36] odeke-em commented on #101
Sure, I am working on this today, thank you for the tag @ebuchman!

[2018-02-24 07:16] jaekwon opened #108 "Binary decode bug in decoding registered concrete type into concrete var."
PR incoming.

[2018-02-24 07:17] #108 closed, assigned to nobody

[2018-02-27 19:04] odeke-em opened #112 "UnmarshalBinary and UnmarshalJSON should not panic on nil deference"
The above codec methods should return an error like the stdlib does instead of panicking. I agree this is too distracting for us not to gracefully fail.

https://play.golang.org/p/ltv0I7O_YjS
[code]

Raised by @veorq offline.

[2018-02-27 19:07] odeke-em commented on #88
/cc @veorq

[2018-02-28 03:22] jaekwon commented on #101
Lets implement these methods (with exact signature) in wire.go.

[code]

[2018-03-01 11:52] srmo opened #113 "Changed binary format of ABCI messages since tendermint 0.16"
Hi,

we are trying to upgrade jabci to 0.16 (https://github.com/jTendermint/jabci) and we are totally lost on the following behavior:

Up until tendermint 15, the initial message when tendermint connected to the ABCI APP was
`0x01,0x13,0x22,0x11,0x0a,0x0f,0x30,0x2e,0x31,0x35,0x2e,0x30,0x2d,0x61,0x35,0x62,0x37,0x30,0x33,0x34,0x64,0x01,0x02,0x1a,0x00`
Which translates to varint size 0x01 and therefo

[2018-03-01 22:43] srmo commented on #113
Update: OK, figured that we can parse the first message `RequestInfo` when discarding the first byte and then reading the next 19 bytes (ommiting the zero-byte at the end).
So how should we know that 0x26 is the type byte for `RequestInfo`?

[2018-03-02 00:35] srmo commented on #113
Update: this seems more an issue of changes in abci/types/messages.go how do they relate to go-wire?

[2018-03-02 00:53] ebuchman commented on #113
Terribly sorry about this. It's actually an issue on the ABCI side. See my response here https://github.com/tendermint/abci/issues/205#issuecomment-369783104.

Readme, Changelog, and Specification are updated on abci master.

Sorry again!

[2018-03-02 00:53] #113 closed, assigned to nobody

[2018-03-02 00:55] ebuchman commented on #113
Note that `0x26` is the signed varint encoding of `13`, the length of your message.

See the updated section on length prefixing in the readme https://github.com/tendermint/abci#socket-tsp

[2018-03-02 00:57] srmo commented on #113
Thanks for the clarification. Yeah, I've worked through the messages.go code and figured that I need to parse it as uint64 (gladly, JAVA's protobuf impl has a `parseUint64` ;) ) and then shift it right by 1.
Keep rocking!

EDIT: after your link, it turned out that the protobuf java lib also provides ZigZag de-/encoding. So all is clean and fine now :)

[2018-03-03 03:15] odeke-em opened #116 "encoder: use Typ3_StructTerm instead of 0x04 when encoding Time for literal reading"
I was just auditing the new go-wire on develop and noticed
https://github.com/tendermint/go-wire/blob/3d2fb07b5c65de21d624919c4680b1cd1b2cfe90/encoder.go#L141

with a comment sure,

but in the decoder routine it is
https://github.com/tendermint/go-wire/blob/3d2fb07b5c65de21d624919c4680b1cd1b2cfe90/decoder.go#L250

For ease of reading, symmetry and auditing, let's use Typ3_StructTerm too.

This is

[2018-03-03 07:08] odeke-em opened #118 "decodeReflectBinarySlice should also have a check for negative slices and handle uint64->int overflows"
The code in https://github.com/tendermint/go-wire/blob/3d2fb07b5c65de21d624919c4680b1cd1b2cfe90/binary-decode.go#L506-L523

assumes that the length will always be in the range [0, 1<<31)

However, there is a great story in the lines.
* To store the length we save it as a Uvarint whose range is: [0, (1<<64)-1]
* while the range of lengths int is: [0, 1<<31)
Now if an attacker sneaks in a length of

[2018-03-03 07:09] odeke-em commented on #118
I both hypothesized this bug this morning before bed and was also able to reproduce it with a fuzzer

[code]

[2018-03-04 07:28] odeke-em opened #120 "Decode{Int8, Int16, Int32} must check if their values are less than minimum"
The code in
https://github.com/tendermint/go-wire/blob/df56f863670d5654f1314b20572d58dd5bf8e548/decoder.go#L12-L51

does a great job of checking that the values aren't greater than their respective max values i.e.:
* math.MaxInt8
* math.MaxInt16
* math.MaxInt32

However, they don't check if the values are less than the respective minimums:
* math.MinInt8
* math.MinInt16
* math.MinInt32

We need to

[2018-03-04 07:29] odeke-em commented on #120
Sample runnable test patch

[code]

and then a fix
[code]

[2018-03-04 08:36] odeke-em opened #121 "DecodeByteSlice is susceptible to overflow from extraneous int(count) casts and can crash make([]byte, n) with special values"
So take a look at the code in
https://github.com/tendermint/go-amino/blob/df56f863670d5654f1314b20572d58dd5bf8e548/decoder.go#L262-L281

Notice in there that we start with
https://github.com/tendermint/go-amino/blob/df56f863670d5654f1314b20572d58dd5bf8e548/decoder.go#L265

We should be wary that `make` takes a max of maxInt, and passing into values greater than maxInt will crash.

A clever attack

[2018-03-04 15:53] jaekwon commented on #118
Awesome, thank you.  Fixed on develop, please check it out!

[2018-03-04 15:53] #118 closed, assigned to jaekwon

[2018-03-04 16:05] jaekwon commented on #121
See line 273, which I think makes this a non-issue.

[2018-03-04 16:06] jaekwon commented on #120
Sounds good, can you please make a PR?

[2018-03-05 12:25] jaekwon opened #123 "Provide WireMap & Map"
[code]

[2018-03-05 12:34] jaekwon commented on #123
The implementation of WireMap.UnmarshalWire can just reference defaultMapImpl.  It's one of those things that we can just change at the module level, and we can swap it out over time with better and better implementations.

[2018-03-06 03:44] odeke-em commented on #120
For sure, let me do so.

[2018-03-06 07:02] odeke-em opened #124 "Encode32 can't encode negative int32 numbers"
Encode32 doesn't seem to be able to handle negative int32 values even -0x01
despite the range of int32 being [-(1<<31), (1<<31)-1] and can't roundtrip i.e. encode and then decode.

The roundtrip test below fails
[code]

[code]

I found it while testing and fixing https://github.com/tendermint/go-wire/issues/120. I believe the correct fix for this is to follow suit with the other Encode{Int8, Int16

[2018-03-06 07:03] odeke-em commented on #124
False alarm, I was using some random branch surprisingly, sorry for that.

[2018-03-06 07:03] #124 closed, assigned to nobody

[2018-03-07 21:17] gibson042 opened #126 "Wire vs CBOR"
Sorry to be That Guy™, but why would someone use this instead of [CBOR](https://tools.ietf.org/html/rfc7049)? And if there is a reason, "Wire vs CBOR" deserves a heading in the README.

[2018-03-10 20:17] jbibla opened #128 "clean JSON"
takeaway from full node discussion

[code]

[2018-03-11 00:36] odeke-em commented on #128
@jolesbi what's the issue here? Could you please add some more context as I wasn't at FullNode? Also it'd be helpful for posterity and other maintainers to read and work on.

[2018-03-11 15:21] jaekwon commented on #126
I don't know CBOR... I guess the question to ask is, how is it different than primitive structure/object types of major languages?

It seems that Amino is philosophically opposed to CBOR.  Amino aims to represent arbitrary data types, e.g. with complex nested structures.  We don't target JSON, we target languages like Go/Rust/C++/Java/Python.  Structure support is provided by a schema.  In this im

[2018-03-11 15:29] jaekwon commented on #128
This leaves us the option to support this in the future:

[code]

So, to preserve this ability and semantic meaning of "@", we won't use it now.

[2018-03-11 16:43] jaekwon commented on #128
Closed by https://github.com/tendermint/go-amino/pull/129

[2018-03-11 16:43] #128 closed, assigned to jaekwon

[2018-03-13 14:53] ethanfrey commented on #1
@jaekwon
@ebuchman

[2018-03-13 15:00] ebuchman commented on #1
They're on go-amino now. You should be able to just point your glide source at `tendermint/go-amino` and make this work again

[2018-03-13 15:04] ethanfrey commented on #1
Except the branch of iavl i was using imports go-wire...
I forced this to work using `glide mirror`, but it's not nice for others.
Especially since there are (recent) tagged releases of many tendermint libraries that depend on tagged releases of go-wire.

Just nice to give a time window for "deprecation".

[2018-03-13 15:53] ebuchman commented on #1
for sure - you can still use go-wire and just change the `source` field in the glide to point elsewhere. It should be a one line change to the glide.yaml and everything should just work (eg. its how you would point a dep to a fork)

[2018-03-13 16:18] gibson042 commented on #126
**TL;DR**: If you don't decide that CBOR makes more sense than a custom serialization format, then "Amino vs CBOR" deserves a README heading.

I think you have misunderstood, which is very unfortunate because it seems like this format is completely unnecessary. CBOR **can** represent arbitrary data types with nested structures (_and [builds in](https://tools.ietf.org/html/rfc7049#appendix-B) nonne

[2018-03-15 16:45] kentquirk commented on #1
Please don't do stuff like this. I had an engineer pulling his hair out all morning trying to figure out what was going on. I appreciate that you are trying to get Cosmos out, but some of us are trying to use Tendermint and its libraries directly. Deleting tags was not necessary and not helpful.

[2018-03-16 12:58] ebuchman commented on #1
Very sorry about this. All tags have been pushed back to the `go-wire` repo. Will not happen again.

[2018-04-09 19:20] davebryson opened #132 "go-amino and ABCI"
Any intentions of eventually replacing protobuf with go-amino in ABCI?

[2018-04-11 18:16] melekes opened #133 "Write specification"
Example: https://github.com/msgpack/msgpack/blob/master/spec.md

[2018-04-12 09:30] melekes opened #134 "Provide generators for other languages"
I assume, for languages, other than Go, there will be a spec (Protobuf like?) and people will use generators to produce code in their language.

Writing generators is probably? will require a lot of work (if we can't reuse existing, say Protobuf, generators), so this issue should be used to track the progress of implementing those generators for different languages.

[2018-04-12 09:34] melekes opened #135 "Explain schema evolution"
"Struct fields are encoded by value (without the key name) in the order that they are declared in the struct. In this way it is similar to Apache Avro."

Will I be able to add/remove fields? How conflicts are resolved between different schema versions? Will it be similar to Apache Avro (i.e. reader schema and writer schema)

[2018-04-12 09:49] melekes commented on #135
"As in Protobuf, each struct field is keyed by a uvarint with the value (field_number << 3) | type, where type is 3 bits long."

found it, cool.

[2018-04-12 09:49] #135 closed, assigned to nobody

[2018-04-12 21:05] zmanian commented on #134
One big difference between protobuf3 and amino is that amino is designed to use the metaprogramming facilities provided by modern languages. Golang's reflect, Rust's CustomDerive, Python and Ruby metaprogramming to generate compatible messages rather than a domain specific language and code generator like protobuf which was intended for C++ and it's more limited metaprogramming facilities.

[2018-04-13 09:25] jaekwon commented on #133
Maybe we need to break this into smaller tasks.

- [ ] document how byte-length types ([]byte, [x]byte, []uint8, [x]uint8, string) are encoded (same as protobuf3)

[2018-04-16 08:55] melekes opened #136 "MarshalJSONIndent"
![screen shot 2018-04-16 at 10 53 12](https://user-images.githubusercontent.com/1282182/38799335-83789af2-4164-11e8-8f0c-e811762c23d1.png)

Would be nice to have MarshalJSON with indent, so we can print json nicely (both when saving json files in Tendermint and alpha).

[2018-04-16 08:56] melekes commented on #134
@zmanian I implied it, but thank you for outlining it!

[2018-04-26 00:45] ebuchman commented on #133
It would be amazing to split this up into a section for each type (like we had with the old wire spec of : https://github.com/tendermint/tendermint/blob/v0.19.0/docs/specification/new-spec/encoding.md)

For types that are the same as protobuf, we just state that and link to the corresponding protobuf spec. For types that aren't we explain how it works and ideally why its different. I think most of

[2018-04-28 03:33] ebuchman opened #143 "how to make backwards compatible changes ?"
The naiive thing doesn't seem to work:

[code]

Returns:

[code]

So it does unmarshal whatever it can, but it also returns an error.

If the order of String and Int are reversed in V2, it just fails outright.

[2018-04-28 03:35] ebuchman commented on #136
done in https://github.com/tendermint/go-amino/pull/140

[2018-04-28 03:35] #136 closed, assigned to nobody

[2018-05-05 00:44] rigelrozanski opened #145 "Error field type descriptions"
It would be good to nice better error messages, such as the type the prefix bytes represent.
Here is a message I got recently:
[code]
kind of hard to gather much information from this apart from something is wrong with the marshalling

[2018-05-05 18:08] mappum opened #147 "Time encoding JS compatibility"
Time encoding uses nanosecond precision, which makes it really hard to work with in JS. Not because of the number being too large, but because the ISO timestamp strings used in RPC only have up to microsecond precision and that means we would have to brute-force search through 1000 different possible values 😖

The time encoding has a comment about only using millisecond precision JS compatibility,

[2018-05-06 23:03] jaekwon commented on #147
What does this mean?  "ISO timestamp strings used in RPC only have up to microsecond precision"?  Is that something we control?

[2018-05-06 23:19] jaekwon commented on #147
I think there was some bug with the previous implementation.
If I'm not mistaken, something about not being able to encode/decode the zero year (0) correctly.  I forget exactly though.

[2018-05-06 23:19] mappum commented on #147
I mean when go marshals `time.Time` to a string (e.g. `2018-05-05T17:09:38.114154Z`), it only gives millionths (micro) instead of billionths (nano).

I would think the type could just be a uint64 field that represents milliseconds since Jan 1, 1970. Unless you think the components should be in separate fields as they are now (then we could just round the fractional part to the closest millisecond)

[2018-05-06 23:22] jaekwon commented on #147
It may have been just the go-fuzz tests that were failing.  So as long as you can make the go-fuzz tests work..., and all edge-cases like year -9999, 0, 1, 9999 etc work... all good.

[2018-05-08 16:04] #147 closed, assigned to nobody

[2018-05-08 16:10] mappum commented on #147
It seems the issue is only present when compiling with go 1.9. I noticed the binary releases were producing timestamp strings with nanosecond precision, so I updated my go installation to 1.10 and now my builds do as well.

So the real issue is that light clients will fail when connecting to full nodes built with go 1.9, but that's not as critical.

[2018-05-08 22:35] zmanian opened #149 "Tpy3_StructTerm seems to be grouped at the end of the struct."
Below is a test vector for SignVoteStruct generated by the snippet here: https://github.com/tendermint/kms/issues/14

The SignVote struct contains 3 sub struct. `0x04` is the typ3 for struct termination.

I would expect that we would see the `0x04` inside the the body of the serialized data instead of grouped at the end.

Based on the structs I have reviewed I have never seen a Typ3_StructTerm ins

[2018-05-08 22:45] liamsi commented on #149
I wondered about this, too. I first had all the
[code]
after the encoding of the struct in amino_rs and moved them too the end as in `SignVoteStruct`.

[2018-05-08 22:48] liamsi commented on #149
The code also looks as if this was happening:
https://github.com/tendermint/go-amino/blob/c7424fdd930314cc4c344b331e112dac004718ef/binary-encode.go#L350-L395

[2018-05-09 00:06] liamsi commented on #149
If you look closely there are in fact some `0x4` in between. I don't think this is a bug. That there are 4 struct terminators at the very end makes sense in this particular example.

[2018-05-09 13:24] zmanian commented on #149
I don't think that is true. In my rust code, I never invoked the typ3_StructTerm until the very end.

[2018-05-09 13:36] liamsi commented on #149
I had to append `typ3_StructTerm` in between to match up with the generated golang test-vector (for `Proposal`). The example you are referring to (https://github.com/tendermint/kms/issues/14) would need to do the same if the structs weren't at the very end. Also you add `typ3_StructTerm` when you encode a timestamp: https://github.com/tendermint/amino_rs/blob/36181b32ba086b4f2cc412fc19ea88eeee4585

[2018-05-09 13:48] zmanian commented on #149
Any idea why we don't have a StructTerm at the end of the Address struct?

[2018-05-09 13:51] liamsi commented on #149
Let me check. Which is the Address struct? (I don't see one in tendermint/kms#14). Are you referring to heartbeat?

[2018-05-09 15:06] liamsi commented on #149
If you are referring to heartbeat: although the rust code looks like you are encoding a struct `ValidatorAddress`:
[code]
You are encoding bytes and not a struct. That's why you do not need a `StructTerm ` at the end of that. See the corresponding go code:

[code]

Does this clarify your concerns?

[2018-05-09 16:11] rigelrozanski opened #150 "Restricted Codec"
we should define a codec with the limitation of not being able to register new types, such that it could be passed around knowing that nothing new could be registered.

In addition, a codec which could be 'sealed' after some types have already been registered could be useful

[2018-05-09 16:14] rigelrozanski commented on #150
Along with this is would be nice for this restricted keeper (with nothing registered) to be exposed directly through go-amino to act similar to the old go-wire (where you didn't need to define a codec) for simple situations

[2018-05-10 18:56] jaekwon commented on #149
As @Liamsi wrote, an Address is a byte-slice, which is not a struct, so they are encoded like
 `<uvarint(length(bytes))><bytes>`.  Same is true for strings.  They don't require a struct-terminator, only structs do.

Another thing that's maybe confusing here is that there's a trailing 0x04 (the very last one) after structs, even the top-level struct implied by the context.

Structs are encoded by a

[2018-05-10 19:23] jaekwon commented on #150
ok!  sounds like a good idea.

[2018-05-12 15:37] liamsi commented on #149
Thanks chiming in and for the extensive explanation @jaekwon 👍 I wonder if we should also port aminoscan to Rust :-)

@zmanian are you OK with closing this? Or are you still concerned there is a bug? If so, could you further explain what the problem is?

[2018-05-12 15:52] zmanian commented on #149
I think we are good!

[2018-05-12 15:52] #149 closed, assigned to nobody

[2018-05-15 08:33] svaishnavy opened #152 "Usecase of go-amino?"
I'm implementing a prototype decentralized application using Cosmos-SDK and came across this library.

I'm trying to store and retrieve a struct type in the DB backend(leveldb) provided by the SDK
I'm wondering about the performance of continuous marshalling and unmarshalling  at the time of storing and retrieving the struct. Right now I'm using byte encoding.

Consider the struct as having multip

[2018-05-15 12:43] ebuchman commented on #152
Regardless, when you're storing to a db, you'll need to use some kind of serialization. If not Amino, then something else like Protobuf or Gob or whatever. What do you mean by `byte encoding` ?

Amino is Tendermint's solution to issues with Protobuf.

We will build additionally tooling to make it much faster than it currently is (ie. with auto-generated code).

Technically you can use the SDK with

[2018-05-17 07:27] melekes commented on #145
Is this amino or tendermint?

[2018-05-17 10:16] liamsi commented on #145
I guess that' amino. We'd need to change a few lines like this:
https://github.com/tendermint/go-amino/blob/6e08b1820c845ea684805678b538b405afc0ed9b/binary-decode.go#L682

I'll send a pr later.

I think, in amino_rs we already do as Rigel proposed. This should be consistent in both implementations.

[2018-05-18 12:07] svaishnavy commented on #152
Thanks for the response. I think the problem I mentioned has two parts to it.
1. Storing a struct effectively in DB supported by CosmosSDK(currently leveldb).
2. Lazy loading and updating of values in struct.

Let's take an example:
type Foo struct {
   A string
   B uint64
   C bool
    ...
    Z map[string]uint64
}

Let's say I have this struct, which I want to store in DB and manipulate later.

[2018-05-18 13:38] liamsi commented on #143
Wouldn't this be simplest way to tackle this:
when we read all fields but the buffer `bz` contains more then just the StructTerm, we continue reading / scanning (similar to what amino scan does). With that we just check that what is left in `bz` is validly decodable but we ignore everything we read until we read the last StructTerm and the buffer bz is fully consumed. Any reason this shouldn't wor

[2018-05-18 14:22] liamsi commented on #143
I propose the following:

First, we do as above to have backwards compatibility for when fields are added (without changes in the order).

Second, in a separate issue / PR we think about this changing the order thing. (Not sure this is possible, though.)

Thoughts?

[2018-05-18 16:31] liamsi commented on #143
See: https://github.com/tendermint/go-amino/compare/develop...Liamsi:backwards_compat

[2018-05-19 00:57] schuyler opened #154 "Can't unmarshal to `map[string]interface{}`"
I'd like to marshal/unmarshal `map[string]interface{}` using Amino, so that I can have Cosmos transaction messages with heterogenous values, but it's complaining that `ERROR: Unregistered interface interface {}`.

The JSON map in question literally consists of something like `{"value": 6}`.

If I register `interface{}` or an alias to it with `cdc.RegisterInterface()`, I get
`ERROR: Cannot parse di

[2018-05-19 13:25] ebuchman commented on #152
I don't think this will be in the pipeline any time soon. I'd encourage you to open this issue on Cosmos-SDK tho, since it's really an SDK associated issue than go-amino I think :)

[2018-05-19 17:06] liamsi commented on #154
You would need to register `interface{}` using `(*interface{})(nil)` like this:
`cdc.RegisterInterface((*interface{})(nil), nil)`.

[2018-05-19 17:09] liamsi commented on #154
Here is a more complete example:
[code]

Let me know if this helps.

[2018-05-20 22:41] ebuchman commented on #143
I think that sounds right. Are amino fields numbered? I think @jaekwon was suggesting we add numbering.

The order switching isn't necessarily important to me, I was just pointing out the behaviour in comparison.

[2018-05-21 09:49] mdyring commented on #143
By adding numbered fields, isn't this basically Protobuf again?

For the purpose of Tendermint/Cosmos, I first of all have to disagree with the use of Amino and storing type information for each and every object (details [here](https://github.com/tendermint/tendermint/issues/1524#issuecomment-389901372)). But I guess that ship has sailed.

Apart from adding numbered fields, it seems a natural way

[2018-05-21 14:12] liamsi commented on #143
Thanks for your feedback @ebuchman! :-)

They are already numbered in the following sense:

In your example this numbering is deduced from the field order in the struct while encoding (using reflection).

I'll clean up the code and add some tests for above approach and ask @jaekwon for a review.

¹⁾ https://github.com/tendermint/go-amino#structs-1

[2018-05-21 14:25] liamsi commented on #143
IMHO, It is conceptually already very similar to protobuf with some differences (as described in the readme).

Thanks for the pointer @mdyring! I didn't know about this approach in boost. I like the idea of versioning but I would rather avoid adding this on a per struct / type basis. In the grpc / protobuf world versioning is sometimes used, too. But on the API, not on the types/(de)serilization f

[2018-05-21 15:47] amrali commented on #143
From past experience, designing a protocol with versioned types/messages complicates handler code design by requiring an entire abstraction layer just to group different message versions per each high level API function/verb (i.e., the new API function A can only work with msg v2 because it added field X to the msg). Ultimately it will become a need to slap a version number on the protocol that re

[2018-05-21 20:07] liamsi commented on #143
Thanks for your feedback too @amrali :-)

There are several reasons to use amino (at least internally). e.g., support for go interfaces (later java-interfaces and rust traits, too), no need to explicitly write in an intermediate message format (which currently speeds up development and doesn't create long verbose code), performance (ok, we need numbers here), and more (see also: https://github.com

[2018-05-22 01:07] ebuchman opened #156 "Proposal: make amino fully compatible with proto3, except for oneof"
Aminos shining feature and motivator is the way it handles oneof.

To simplify integrations and useability, we should consider making Amino perfectly compatible with the subset of protobuf3 that does not include `oneof`. Then any structs that do not themselves contain interfaces will be perfectly proto3. If they're registered, they'll just also be prefixed with the type bytes

This would be great

[2018-05-22 08:51] mdyring commented on #156
Given that you guys are working towards wire compatibility with Protobuf, I would encourage the team to take 3 steps back and re-evaluate if the future work and risks Amino introduce are worth the perceived advantages?

To an outsider, the path of least resistance seem to be using Protobuf alongside a style-guide.

From the README there are two sellings points of Amino vs. Protobuf3:

- Encoding e

[2018-05-22 16:58] gibson042 commented on #156
:clap: :clap: :clap:

[2018-05-23 06:18] jaekwon commented on #143
I made review feedback for this PR: https://github.com/tendermint/go-amino/pull/155#pullrequestreview-122444439.

[2018-05-24 20:34] svaishnavy commented on #152
Sure, I'll create an issue on Cosmos-SDK. Closing this one.

[2018-05-24 20:34] #152 closed, assigned to nobody

[2018-05-28 00:04] jaekwon commented on #156
That's not true, you only need the disamb/prefix bytes (8/4 bytes, usually 4) for registered objects that are intended to implement an interface.  Other objects, like Vote, don't need additional type information.  And, you can still do what Proto3 does with regards to empty fields if you need to shave all the bytes.

One-of is a union type.  It is not an interface.  With an interface, anyone can i

[2018-05-28 00:47] jaekwon commented on #156
Besides OneOf, here are the other things to consider:

* Embedded structs/messages - These are byte-length prefixed in Proto3.  Even if we don't make this Proto3 compatible, we can maybe avoid embedded structs.
* Time is encoded as an embedded struct.  So is BlockID
* Repeated fields besides byte-slices.  I don't see this used in the block header nor iavl nodes.
* Struct terminator for the top-lev

[2018-05-28 05:20] jaekwon commented on #154
That works (only for JSON... map isn't supported for Amino:binary), but probably shouldn't be done.

The output of the JSON will be:

[code]

when probably you want:

[code]

... which isn't pretty, but that's not the problem.   The problem with `RegisterConcrete(int(0), "int", nil)` is that the codec will wrap *all* ints with the type-wrapper object, even when encoding a field whose type is the c

[2018-05-28 06:53] #150 closed, assigned to nobody

[2018-05-28 08:31] #145 closed, assigned to nobody

[2018-05-28 08:45] mdyring commented on #156
During the fundraiser, and last I checked, Cosmos was dubbed "the Internet of Blockchains". The Cosmos SDK alone does not deliver on this promise, as it is inherently tied to Go and a serialization format not supported on [major languages](https://www.tiobe.com/tiobe-index/).

The promise can only be fulfilled by enabling projects developed using a variety of languages and toolchains, otherwise it

[2018-05-28 09:01] jaekwon commented on #126
Probor seems like it's trying to solve the gap between CBOR and Protobuf while improving upon Protobuf.  But it's also a proof-of-concept, and it's basing the encoding on CBOR which isn't quite optimized for what it's trying to do... Proto3/Amino uses field keys, which are field numbers + type encoded as a single varint, for every struct field.  It looks like Probor is trying to encode the field n

[2018-05-28 10:12] jaekwon opened #158 "Encode int64/uint64 as string type"
While it is technically valid JSON to encode values greater than 2^31-1, the default JSON decoder doesn't decode these to bigints, but rather it gets "rounded" to something else.

Protobuf-json (pbjson) deals with this by encoding int64/uint64 as strings.  Amino should do the same, I think.  https://developers.google.com/protocol-buffers/docs/proto3#json

Alternative solutions are not so nice.  Fo

[2018-05-28 10:12] jaekwon commented on #158
@mappum @Liamsi @keppel Thoughts?

[2018-05-28 15:52] gibson042 commented on #126
This is the kind of thing that can be achieved at the encoder/decoder level, or in the data format. The former is possible in most data formats, particularly including CBOR (e.g., "every value must be represented by its shortest encoding, and map keys must be ordered lexicographically by wire-format octets"). The latter is not a property of CBOR _or_ Amino (from your own README: "Amino ensures tha

[2018-05-29 03:36] ebuchman opened #159 "releases break semantic versioning"
0.9.10 is breaking and should have been 0.10.0

It also removed the RFC3339Millis, which was publicly exposed and thus is another breaking change that should be in the changelog.

Also its confusing why the releases dont make their way to master

[2018-05-29 08:40] zmanian commented on #156
Here is my take based on my experience working with amino_rs so far.

I am strongly in favor of continuing down the amino path for internal SDK interfaces.

I haven't seen a satisfactory serialization format for distributed peer to peer systems.

We need a self describing, reflection friendly serialization format that roughly maps to protobufs value level encoding strategy.

The IAVL tree encoding

[2018-05-30 05:39] jaekwon commented on #159
Ok on the version.

RFC3339Millis shouldn't be used anywhere, as it isn't the right encoding.  Where was it used?

When should they go to master?  I would think that merges to master happen during releases of parent root projects, not for all releases.

[2018-05-31 03:05] jaekwon commented on #126
We dropped the last struct term from the top-level structs, so the above table should show 9, 11, and 8 bytes respectively.  https://github.com/tendermint/go-amino/pull/160

Additionally, varint support in CBOR is a lacking compared to Proto/Amino, since it only supports 1,2,4,8 byte numeric types, and is more complex to implement.

A strict with 3 numeric fields of value 10, 20, and 30 takes 8 by

[2018-05-31 06:09] jaekwon commented on #156
I'm over myself, and I'm investigating this now.  Cheers.

[2018-06-01 08:06] jaekwon commented on #156
Here's a work in progress.  This implements Proto3 style inner messages and lists (both packed for numeric lists and unpacked for strings/structs).

I think for the blockchain use-cases we're going for, in terms of performance and also in terms of codec complexity these are strictly worse designs than the original proposed Amino... but I think starting with Proto3 compatibility will be good becaus

[2018-06-01 12:28] liamsi opened #164 "Proposal: ensure amino - proto3 compatibility & developer convenience"
It looks like we are going through with https://github.com/tendermint/go-amino/issues/156 and https://github.com/tendermint/go-amino/pull/163 👍

I have a 2 thoughts I wanted to sketch down here even if it might be too early:

1. To actually and visibly ensure compatibility, it would be great to have script/triggered via CI that runs tests on proto files included in [golang protobuf](https://github

[2018-06-01 16:06] ebuchman commented on #159
It's used in tendermint/types for canonical json. We can use something else, just should note it.

I think non-breaking changes should go to master right away. Breaking changes can wait until the parent is caught up

[2018-06-01 16:11] ebuchman commented on #164
Wow cool. Do you think Dedis might be interested in collaborating on Amino ?

If we had proto3 compatibility, and could generate .proto files, we could just use Amino for ABCI :D

[2018-06-01 18:04] liamsi commented on #164
Not sure, but I can ping @bford @ineiti. And definitely, that would be great! I think they are quite busy with writing awesome papers and receiving best paper awards :-D But last time I checked the team was developing another encoding approach called [fixbuf](https://github.com/dedis/fixbuf). So, maybe amino might be an interesting alternative or addition to dedis/protobuf?

[2018-06-01 21:11] rigelrozanski opened #165 "MustUnmarshalJSON and MustMarshalJSON"
why not these 2?

[2018-06-02 04:58] jaekwon commented on #164
I think Amino can be a gateway to Amino2 (which is basically the Amino before this Proto3 refactor).  There are merits to the original design, esp with regards to handling nil vs empty objects (Proto3 has no distinction), and more compact lists, and faster for most use-cases esp for blockchain processing.

Will try to read up on fixbuf.

Everything you wrote sounds great.  I have a bit of logic wr

[2018-06-02 05:17] gibson042 commented on #126
The data was taken straight from your README, dude.

https://tools.ietf.org/html/rfc7049#section-2.4.2

:roll_eyes:

Yes, you obviously have an emotional attachment to your baby. But this conversation has drifted... I don't find your reasons persuasive, but that's completely beside the point; they still need to be documented. To repeat myself yet again: **"Amino vs CBOR" deserves a README heading*

[2018-06-02 06:49] jaekwon commented on #164
I think they would be interested in go-amino because it's semi-mature and it achieves the goal of go-integration.

[2018-06-02 06:52] jaekwon commented on #164
Just noticed that the dedis code is GPLv2.  Any chance we can change that?

[2018-06-02 14:10] liamsi opened #166 "proto compatibility issues"
Collecting some issues (or sometimes just differences) I stumbled upon while testing here:

- floating types not supported in amino (`panic: floating point types are unsafe for go-amino`) but they are supported in protobuf (I know this was discussed somewhere but I can't find it right now); this is a bit annoying because it prevents just using their generated test structs (of course this annoyance

[2018-06-03 15:09] liamsi opened #168 "Fixed-sized types should be LittleEndian"
Source: https://developers.google.com/protocol-buffers/docs/encoding#types

in amino we currently encode fixed sized things as BigEndian

[2018-06-04 10:53] liamsi commented on #164
Interesting, I though we switched everything to GPLv3 (as it allows patenting and is more friendly for commercial use). I can imagine that protobuf was just forgotten (e.g. fixbuf is GPLv3). (/cc @ineiti)

[2018-06-10 03:59] rigelrozanski opened #171 "Sorted JSON from MarshalJSON"
Can we enforce that the json created is ordered in the same order which the fields are defined in the struct?

edit by @Liamsi: this is already the case. The discussion below diverted to if amino should sort keys alphabetically.

See: https://github.com/cosmos/cosmos-sdk/issues/983#issuecomment-393008655

[2018-06-10 04:08] cwgoes commented on #171
Necessary for deterministic transaction signing/verification, also cleaner UX in general.

[2018-06-12 03:19] zmanian opened #174 "Differentiate embedded messages from bytestrings"
Support an old Tony idea.
https://github.com/google/protobuf/issues/2629

[2018-06-12 03:23] liamsi commented on #174
Sounds like a good idea! Did anyone compare how objecthash-proto deals with this?
https://github.com/deepmind/objecthash-proto

As we want to be as compatible to proto3 as possible, it might be worth looking into if and how objecthash-proto dealt with this (without breaking proto compatibility).

[2018-06-14 16:57] liamsi opened #183 "Switch to circleci 2.0"
CircleCI 1.0 to be deprecated soon:
![image](https://user-images.githubusercontent.com/7441766/41426696-47f2e70c-6fb9-11e8-855b-bf592ddaa76b.png)

[2018-06-14 21:16] liamsi commented on #21
Just cleaning up some open issues: This does not hold true anymore:
https://github.com/tendermint/go-amino#prefix-bytes-to-identify-the-concrete-type

[2018-06-14 21:16] #21 closed, assigned to nobody

[2018-06-14 21:21] liamsi commented on #101
This was done and refined in amino too 👍

[2018-06-14 21:21] #101 closed, assigned to nobody

[2018-06-14 22:31] liamsi commented on #76
Currently, only version.go needs a `go fmt` run. Will be fixed with the next release (today hopefully).

[2018-06-14 22:31] #76 closed, assigned to nobody

[2018-06-15 03:30] liamsi commented on #183
resolved by #184

[2018-06-15 03:30] #183 closed, assigned to liamsi

[2018-06-15 04:02] liamsi commented on #4
As for now, floats are supported via `amino:"unsafe"`.
Maps work in JSON (if keys are strings).
Binary panics with `unsupported type map`. I'll add general map support with the tags mentioned above (prefixed with `amino` not `wire` though).

[2018-06-15 04:07] liamsi commented on #4
related: https://github.com/tendermint/go-amino/issues/154#issuecomment-392421945

[2018-06-15 04:18] liamsi commented on #28
This panic does not exist anymore (in amino):
https://github.com/tendermint/go-amino/blob/a3c8cf329f44cec2d185be2308364f50b78c5401/decoder.go#L195-L259

[2018-06-15 04:18] #28 closed, assigned to liamsi

[2018-06-15 04:34] liamsi commented on #97
This comment still exist in amino. The suggestion to clarify the comment, is reasonable.
https://github.com/tendermint/go-amino/blob/a3c8cf329f44cec2d185be2308364f50b78c5401/encoder.go#L119

[2018-06-15 04:46] liamsi commented on #143
basic backwards compatibility is resolved by #155

[2018-06-15 04:46] #143 closed, assigned to liamsi

[2018-06-15 05:11] liamsi commented on #112
The panics here are to make clear the this API is not intended to be used like this. But yeah, retuning an error (and the documentation etc) should do the job, too.

[2018-06-15 05:18] liamsi commented on #57
The linked code above doesn't exist anymore.

I do not think this is stil an issue in amino. If I'm wrong, please reopen the issue @ebuchman

[2018-06-15 05:18] #57 closed, assigned to nobody

[2018-06-15 06:38] liamsi opened #185 "Add testcase for #180"
add a test case that fails before #180 was merged (and check for general test-coverage while at it):

[code]
Above should do the job.

[2018-06-16 00:40] cwgoes opened #187 "Consider providing functions to calculate encoding overhead"
Ref https://github.com/tendermint/tendermint/pull/1721#discussion_r195833879

[2018-06-16 01:08] liamsi commented on #187
Replied in the tendermint PR comment: https://github.com/tendermint/tendermint/pull/1721/files/3fc0019f429d40860811033cc5315694c9be9ea6#r195889310

[2018-06-16 03:20] liamsi opened #189 "Fix failing tests on circleci before release v0.11.0"
Decoding time sometimes fails because the 1st field might be skipped as with #178

I have a fix for this lined up, will push later.

https://circleci.com/gh/tendermint/go-amino/413?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-06-16 03:46] jaekwon commented on #187
I suggest we close this issue and revisit when we have the Amino golang optimized compiler.

[2018-06-20 00:52] liamsi opened #191 "Sentinel errs?"
Give callers the possibility to handle certain errors by introducing sentinels where appropriate.
Suggested by @xla here: https://github.com/tendermint/go-amino/pull/190#discussion_r196610287

[2018-06-20 00:54] liamsi commented on #23
This are some useful suggestions and a good discussion to have. Still closing as the API was reworked / refactored heavily since this was raised.

[2018-06-20 00:54] #23 closed, assigned to nobody

[2018-06-20 00:58] liamsi commented on #24
Interesting! Closing as go-data was removed AFAIK.

[2018-06-20 00:58] #24 closed, assigned to nobody

[2018-06-20 01:04] liamsi commented on #121
Are we sure this is a non-issue? The line count has changed since then. I can't verify this by looking at line 273 I think.

[2018-06-20 01:06] liamsi commented on #120
resolved via #125

[2018-06-20 01:06] #120 closed, assigned to jaekwon, odeke-em

[2018-06-20 01:06] liamsi commented on #116
We got rid of struct-terms.

[2018-06-20 01:06] #116 closed, assigned to jaekwon

[2018-06-20 01:18] liamsi commented on #102
Not sure if this is still an issue. Seems related:
https://github.com/tendermint/go-amino/blob/2106ca61d91029c931fd54968c2bb02dc96b1412/byteslice_test.go#L34-L45

[2018-06-20 01:34] odeke-em commented on #121
Hello @Liamsi! Thank you taking this on. So the line numbers seem to have changed by -1, so the line that @jaekwon talked about is https://github.com/tendermint/go-amino/blob/6cdaa2fd6f2c8b1495bf329571dfd2075460c049/decoder.go#L272

[2018-06-20 02:19] liamsi commented on #189
~~resolved by #190~~

Actually, this is still an issue: https://circleci.com/gh/tendermint/go-amino/414?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

The remaining issue is while decoding arrays of times.

~~Also, circleci does not run for PR against `development`.~~ @ebuchman changed this

[2018-06-20 05:40] liamsi commented on #121
Thanks a lot @odeke-em!

[2018-06-20 08:06] ebuchman opened #195 "Remove dependence on tmlibs"
Would be ideal if amino were more self-contained.

Currently depends on tmlibs/common for the colouring functions

[2018-06-20 08:11] liamsi commented on #195
This was only introduced recently (#181) & can easily be changed.

[2018-06-21 11:43] haifengxi commented on #134
@zmanian We are trying to develop an amino encoder for javascript, and a detailed spec for amino encoding would really help. :-)

[2018-06-23 10:37] ValarDragon commented on #171
Do we want it sorted by the order fields appear, or sorted by key name? I think keys will eventually be reordered for https://github.com/cosmos/cosmos-sdk/issues/1257, so I think we should sort by key name.

[2018-06-23 11:01] ValarDragon opened #197 "Marshal JSON on cyclic data structures"
Its a normal problem with JSON that it can't handle cyclic data structures. In the case of golang's MarshalJSON, it will go into an infinite recursion loop. Source https://golang.org/pkg/encoding/json/.

I didn't see any mention of this in our source code. I don't think going into an infinite loop is an acceptable situation for our use case. (Otherwise we would have to track down any potential ref

[2018-06-25 17:12] rigelrozanski commented on #171
Interesting point - I like the idea of sorting by field order because it allows the developer to define the natural importance of information being show - but it also sucks if reordering the fields in a struct becomes a breaking change

[2018-06-27 17:25] liamsi opened #198 "Link to tendermint spec is outdated"
See: https://github.com/tendermint/go-amino/#amino-in-the-wild

[2018-06-30 00:03] odeke-em commented on #197
@ValarDragon thank you for filing this issue! This thought once struck me about 2.5 months ago but I forgot to file an issue. For anyone looking at this issue here is a repro to show that go-amino is still susceptible to cyclic references
[code]
this will blow up the stack as it would with the stdlib https://play.golang.org/p/CTd76035y3y or inlined below:
[code]

One of the things that we can do i

[2018-07-03 18:41] rigelrozanski opened #199 "Combined Key/Value Marshalling/Unmarshalling"
#postlaunch

Within the SDK one thing that has come up is the ability to store a part of the object in the key and a part of the object in the value, for instance here is a delegation:

[code]

For this struct we want to keep `DelegationAddr` and `ValidatorAddr` in the key of a store and `Shares` and `Height` in the value of the store.

We want the key to be in the following format too (just to ad

[2018-07-03 20:14] alexanderbez commented on #199
@rigelrozanski seems like a neat idea! With the tags approach, I think there might need to be some explicit semantics of ordinal positions of fields for brevity. Also, could you elaborate on your last statement?

[2018-07-03 20:16] alexanderbez commented on #199
Also, due to the bug that was related to this and the nature of appends, I think this is a bit easier to read:

[code]

[2018-07-03 23:19] cwgoes commented on #171
Can we prioritize this? Would like to validate sorted JSON Ledger-side.

cc @Liamsi Thoughts?

[2018-07-03 23:25] ValarDragon commented on #171
I agree re sorting by field order. Also #1257 is too small of a memory improvement to worry about.

[2018-07-03 23:37] liamsi commented on #171
Hey, I'm surprised, that this is already the case (sorted by field-order). Yeah, let's prioritize this.

[2018-07-03 23:42] liamsi commented on #171
~~Can you point me to the types from which this is generated? https://github.com/cosmos/cosmos-sdk/issues/983#issuecomment-393008655~~ Never mind, I think I found it.

[2018-07-04 00:04] liamsi commented on #171
I think, the culprit isn't amino here (or at least not only). Fields get encoded as they are ordered in the struct:
https://github.com/tendermint/go-amino/blob/2106ca61d91029c931fd54968c2bb02dc96b1412/json-encode.go#L270-L291

Ok, looking at `writeGenesisFile` in init.go (cosmos-sdk), the `GenDoc` is encoded using amino which should create the json-keys in the same order as the field order (and ex

[2018-07-04 00:21] liamsi commented on #171
Opened https://github.com/cosmos/cosmos-sdk/issues/1531 in cosmos-sdk.

To solve your problem (non-amino related): You can have the desired order (by field order), without any amino change as far as I can tell: just do not read into a golang `map` or do not use `AppendJSON` from [util.go](https://github.com/cosmos/cosmos-sdk/blob/270e2162622446994fb3ef17a5d141e7d4aa31df/server/util.go#L127-L129).

[2018-07-04 00:33] cwgoes commented on #171
If we order by field order, we have to order our structs alphabetically - the Ledger application (and other such third-party applications) can't store field orders for all the Cosmos SDK structs; it needs to be able to check alphabetical ordering.

Would it be possible to pass an option to Amino to order alphabetically by field name instead?

[2018-07-04 00:52] liamsi commented on #171
Possible, but I'm not sure this is desirable in general (and differently from what was mentioned in the issue description), or as part of the amino API. If we decided this is generally useful and should go into amino, I would suggest, that this is only for json-encoding maps and by introducing a tag called `json:map_sorted` or sth like this. Not sure about side-effects decoding-wise (this is not a

[2018-07-04 07:51] jleni commented on #171
Field order will definitely not work in the ledger nano S. It needs to be a very very simple rule. Ideally sorting key names alphabetically.

[2018-07-04 13:26] xla commented on #199
In general I support the approach of struct tags as they are powerful tools to avoid a lot of custom serialisation code. As @alexanderbez pointed out it might be necessary to have a bit more control in there.  Also the examples should be updated to use the `amino` tag as already established in the codec code.
https://github.com/tendermint/go-amino/blob/2106ca61d91029c931fd54968c2bb02dc96b1412/code

[2018-07-04 13:58] liamsi commented on #171
Updated/edited the issue description above to better reflect the discussion. Sorting by keys shouldn't be the default behaviour. I feel people would be very surprised about this change (e.g. json-amino is used for rpc). But I think adding a flag a la `json:sorted_keys` might work (as decoding from json also uses a `map` and doesn't seem to rely on field-order in JSON-land).

I'm still wondering if

[2018-07-04 14:10] tarcieri commented on #171
I really like objecthash for a few reasons, most notably that it sidesteps the problem of canonicalization, which is particularly problematic with JSON because no one can agree on what canonical JSON actually looks like. It's also friendlier to things like embedded devices because they don't have to do a bunch of string manipulation to produce a canonical JSON document to hash, but can instead jus

[2018-07-04 14:33] liamsi commented on #171
Thanks a lot for your input @tarcieri!

Yeah, I agree. I think there are still some problems with UTF8 normalization. But for our purposes objecthash might be mature enough. [objecthash-proto](https://github.com/deepmind/objecthash-proto) seems even more experimental for now. Are there any less experimental alternatives?

It also might be the case that this is overkill as what we need for ledger n

[2018-07-04 14:50] tarcieri commented on #171
I don't know of any more mature alternatives, and it's really a simple enough idea that designing your own for a particular purpose isn't too bad. Done correctly I think you could have something extremely simple that covers your immediate needs which is designed in a way to be extensible to hashing more complex structured documents in the future.

[2018-07-04 19:42] cwgoes commented on #171
That's fair - perhaps the best solution for now is for `msg.GetSignBytes()` in the SDK to remarshal JSON-to-be-signed as a map and sort the keys.

Per discussion with @Liamsi @jleni, sorting in the SDK for now - further discussion about different serialization options (e.g. Amino / objecthash) tabled for now.

[2018-07-04 20:12] #171 closed, assigned to nobody

[2018-07-04 21:28] rigelrozanski commented on #199
done

[2018-07-04 21:37] jaekwon commented on #171
I think we should use another tool to re-order the JSON bytes produced by Amino for now...

It's what we would do in Amino anyways, and we can decide to add it as an option to Amino later down the road.  This only needs to happen on the signer so it shouldn't be a big overhead for anyone.

[2018-07-06 01:29] liamsi commented on #189
resolved via #201 (partly includes #196)

[2018-07-06 01:29] #189 closed, assigned to liamsi

[2018-07-06 01:34] liamsi commented on #168
this was resolved via https://github.com/tendermint/go-amino/pull/167#issuecomment-396085192 / https://github.com/tendermint/go-amino/commit/f297b23166b16ad60976b6ba11a14587bd9b479b

[2018-07-06 01:34] #168 closed, assigned to liamsi

[2018-07-08 22:31] liamsi opened #203 "Documentation improvements"
Add documentation for the following:

 - [ ] time enc / dec differences in binary and JSON
 - [ ] add a section about existing attributes / tags (e.g. `amino:write_empty`)
 - [ ] update links: https://github.com/tendermint/go-amino#amino-in-the-wild
 - [ ] describe behaviour of *Type vs Type (pointer vs. non-pointer)

[2018-07-17 15:32] liamsi opened #204 "Wrap basic go-lang types (e.g bytes) in a message while de/encoding"
**(Final?) Update:** Instead of disallowing direct encoding of basic types, the SDK team demands the same convenience of amino as before. Meaning they still want to be able to encode basic types without wrapping them in a message / struct.

The only alternative to still fully achieve protobuf compatibility I can think of: Amino internally when encoding does the wrapping for you. E.g. it will map `

[2018-07-19 07:13] qkrwnsgh1288 opened #207 "Are private variables in the structure not supported?"
I'd like to use amino marshal when I have private variables in the structure.

**In test2 package, test.go : **

[code]

**testing go file :**
[code]

**result :**
[code]

Private variable "abs" is lost..
Is it not supported, or is there another way to provide it?

[2018-07-19 10:39] liamsi opened #208 "Proposal: make time varint encoded (instead of fixed length)"
In protobuf there is https://github.com/golang/protobuf/blob/14aad3d5ea4c323bcd7a2137e735da24a76e814c/ptypes/timestamp/timestamp.pb.go#L99-L108
where seconds and nanos are encoded as `varint`. See also the corresponding proto file / message:
https://github.com/golang/protobuf/blob/14aad3d5ea4c323bcd7a2137e735da24a76e814c/ptypes/timestamp/timestamp.proto#L121-L133

In amino, we currently encode tim

[2018-07-26 03:28] TanNgocDo opened #210 "Is there any available JS-Amino implementation?"
Or any suggestion for a reference implementation ?

[2018-07-30 13:05] liamsi commented on #210
There is no javascript implmentation yet. As we are largely proto3 compatible it should be fairly easy to use an existing JS protobuf library and extend it to be able to handle [registered types](https://github.com/tendermint/go-amino/#amino-spec) (e.g. this protobuf implementation https://github.com/google/protobuf/tree/master/js looks like a 1st choice).

If you look into implementing such a lib

[2018-07-30 13:28] liamsi commented on #56
We also sometimes cast `uint64` to `int` which behaves differently on 32 bit machines. This could lead to an unexpected panic, potentially posing a security issue:

https://github.com/tendermint/go-amino/blob/2106ca61d91029c931fd54968c2bb02dc96b1412/decoder.go#L264-L276

PoC (untested but should still work):
[code]

would panic with `makeslice: len out of range`

possible mitigation:

[2018-07-30 15:16] TanNgocDo commented on #210
Hi, I have not checked the protobuf js yet. According to my understanding, in protobuf, we define the .pro files and deliver for both encode and decode side. In amino, we don't need to deliver the shema
? My intention is implementing the js-amino from scratch with reference from Go-amino. But I have not checked the reflection feature of JS yet(I don't have strong exp in JS). Further more there are

[2018-07-30 15:32] liamsi opened #211 "Further investigate recursion depth and associated mem-consumption"
Not too long ago the code snippet below produced a 100KB JSON message which consumed about 1,3 Gb memory while decoding.

[code]

Although this is not the case anymore (it only consumes 45 Mb), we should make sure that we either use less recursion or limit the recursion depth (or fully understand why this isn't necessary anymore).

[2018-07-30 15:40] liamsi commented on #195
Resolved by https://github.com/tendermint/go-amino/pull/205

[2018-07-30 15:40] #195 closed, assigned to liamsi

[2018-07-30 15:43] liamsi commented on #210
In amino the schema is given by the golang structs and sometimes via type aliases (they always reside in our types packages in the repositories). We did not define a amino format (yet) which would be the equivalent to .proto files in protobuf. It could look very similar to protobuf message definitions. Additionally, it would include information about the codec and which types are registered (with

[2018-07-31 03:27] TanNgocDo commented on #210
Thanks for your answer. I will try the "implementation from scratch" solution first

[2018-08-01 07:25] jaekwon commented on #210
We need to get you in touch with our JS team... will try.

[2018-08-01 07:30] TanNgocDo commented on #210
Thanks, I'm in first stage, I'm working on JSON encoding

[2018-08-01 11:32] faboweb commented on #210
Feel free to ask whenever you need help. We also want amino-js :)

[2018-08-01 13:17] TanNgocDo commented on #210
Should I raise issue on github or contact you directly when I have question?

[2018-08-01 13:32] faboweb commented on #210
Whatever you feel like:
My Telegram is @Fabolicious

TanNgocDo <notifications@github.com> schrieb am Mi., 1. Aug. 2018, 15:17:

[2018-08-01 13:49] TanNgocDo commented on #210
Cool, Thank you :)

[2018-08-02 15:31] liamsi commented on #207
Yes, unexported (private) fields can not be properly encoded / decoded., I think there is no way in golang you could write into the field (even using reflection). The only way is to make your the field exported.

[2018-08-02 15:31] #207 closed, assigned to nobody

[2018-08-02 15:43] liamsi opened #212 "Disallow `nil` in lists (repeated fields)"
Different from protobuf we currently allow to encode nil in repeated fields. This causes ambiguity while decoding. For more details see:
https://github.com/tendermint/go-amino/pull/209#issuecomment-409930666

This is a simple yet bigger change as it will err on many fuzzer rounds.

[2018-08-02 16:14] TanNgocDo opened #213 "Marshal and UnMarshal Binary does not work if the field's name are not identical with field's type"
I test the marshal and unmarshalBinary function  with this code stuff
`type SimpleStruct struct {
		a int
	}

	s := SimpleStruct{a: 10}
	cdc := amino.NewCodec()
	cdc.RegisterConcrete(SimpleStruct{}, "SimpleStruct", nil)
	b, _ := cdc.MarshalBinary(s)
	var s2 SimpleStruct
	_ = cdc.UnmarshalBinary(b, &s2)`
The result of marshal and unmarshal are not correct.
But if I change the the field 'a' to "Int"

[2018-08-02 16:17] liamsi commented on #213
The reason this does not work is because `a` is unexported and `Int` is (as it is capitalized). Change to `A` and this should work, too :-)

There are many more examples where the field names are not the same as the field types.

[2018-08-02 16:20] TanNgocDo commented on #213
OOPS, is it the rule in Amino's code ? Could you please to specify the code stuff that defines it ?

[2018-08-02 16:45] liamsi commented on #213
It is due to golang's reflection library which is used to get the fields:
https://github.com/tendermint/go-amino/blob/2106ca61d91029c931fd54968c2bb02dc96b1412/codec.go#L422-L430

Also, golang's `reflect` does not allow to write private fields.

[2018-08-03 03:37] TanNgocDo commented on #213
Thank you, I'm so careless to ignore this trick in Go Reflection

[2018-08-03 03:38] #213 closed, assigned to nobody

[2018-08-04 14:47] TanNgocDo commented on #210
I have implemented the binary encoding with some basic type, it works. The more complicated type(recursion....) needs more time. I will public the code for review when I reach some minor features. By the way, do you have any ideas for adapt "Decorator" and "Composite" design pattern to this library ? I see with some modules technique, it still works. But maybe a suggestion for design is better to

[2018-08-04 22:49] jaekwon opened #214 "Convert tests/proto3/proto/compat.proto to table-driven tests"
There's a lot of duplicate structure that can be turned into a table of subtests via t.Run.

[2018-08-05 05:50] jaekwon commented on #212
A bit more nuanced because Tendermint requires this feature, e.g. in Commit where []*Vote and vote may be nil to denote absence.

This PR solves it by letting you denote a field tag `amino:"empty_elements"` which then behaves in the way you specified, otherwise the behavior is the same (e.g. what Tendermint currently expects).

https://github.com/tendermint/go-amino/pull/206

[2018-08-05 05:53] jaekwon commented on #212
Closing because I think it's fixed, but please re-open if needed.

[2018-08-05 05:53] #212 closed, assigned to liamsi

[2018-08-10 18:32] ValarDragon commented on #211
ref #197

[2018-08-13 07:11] TanNgocDo commented on #210
I wrote a small impmentation with JS: https://github.com/TanNgocDo/Js-Amino .
There is no unit test right now- it will be added soon.
To run the test-decode binary, just use: "node codec.js" for experiment. I used go-amino for encode checking. The list of to-do task will be fulfiled soon

[2018-08-14 21:15] ebuchman opened #219 "Consider changing marshal default to not length prefix"
Currently we have eg. `MarshalBinary` and `MarshalBinaryBare` where the former includes a length prefix and the later does not. It seems more natural to switch the default behaviour to not be length prefixed (afaik proto3 does not auto-include a length prefix), and to have MarshalBinaryLengthPrefix instead of MarshalBinaryBare

[2018-08-17 10:26] TanNgocDo commented on #210
OK, now, basically, it can decode complex recursive struct. The int with 32,16,64 bit will be supported

[2018-08-17 16:42] ebuchman commented on #210
tagging @keppel @mappum

[2018-08-18 12:49] TanNgocDo commented on #210
By the way, do you have intention for amino on difference programming language ?.I see a Rust project.I would like to start the implementation in C++(if I have time). Have you envisioned the use-case of Amino outside of Cosmos?

[2018-08-22 03:47] TanNgocDo opened #220 "Incompatible encoding with difference versions"
I check out the branch 0.10.1 and 0.9.9. I found that there are difference results with prefix part :"pb[3] |= byte(typ)" and "pb[3] &= 0xF8" and add(not sure about other encoding types) Is there any special reason for this issue ?

[2018-08-27 16:13] TanNgocDo opened #221 "Length prefix of encoding exceeds the maximum number of bye"
I tried to encode the transaction with javascript-amino and have the array with the length of encoding  equal 450.So `arr[0]=450` . When I send the array via network to cosmos `decodeTx, `the` bytes[0] `will be minus with the maximum of byte(255) the value of `bytes[0] = 450 - 255 `=> wrong decoding in Cosmos. Could you please give me the suggestion ?
Thanks

[2018-08-28 08:55] #221 closed, assigned to nobody

[2018-08-28 14:57] liamsi commented on #132
Not that I'm aware of. Also, I'm not sure what the benefit would be?
If you think there might be good reasons to do so, can you open an issue in https://github.com/tendermint/tendermint/ ?

[2018-08-28 14:57] #132 closed, assigned to nobody

[2018-08-28 16:12] liamsi commented on #220
Hi @TanNgocDo. Thanks for raising this issue. Can you specify what you are encoding? Is this part of the work you are doing on your amino JS port?

We incorporated quite a few breaking changes in 0.10 though. Most notably, we've changed amino to be more protobuf compatible. We do not expect these versions to be compatible.

[2018-08-28 16:26] liamsi commented on #219
I agree, this should be the default behaviour. And you are right, that proto3 doesn't encode the length by default. Length delimiting is used for [streaming] AFAIK. I think some implementations do not even provide length delimited encoding / decoding. Most do though ([java], [prost/rust]).

I think we should change this pre-launch as this would be breaking. Do you agree?

[streaming]: https://deve

[2018-08-28 16:48] liamsi commented on #210
I guess, we won't have the capacity to work on other implementations ourselves besides the ones you've mentioned. If you plan to implement it on other languages, that would be a very welcomed contribution though! There are usually, two ways on howto implement this: You could start from scratch, or, you could also fork a existing protobuf implementation. Similar to what we are doing in Rust (work i

[2018-08-28 16:56] ebuchman commented on #219
Yes I do! Should get confirmation from @jaekwon too though

[2018-08-29 01:29] TanNgocDo commented on #210
Thanks for your suggestion. I can contact with team via telegram or raise an issue. I can close this issues too

[2018-08-29 01:29] #210 closed, assigned to nobody

[2018-08-29 01:35] TanNgocDo commented on #220
Thanks for your answer. My first implementation branch in Js-Amino was the reference on go-amino 0.10.1, but the cosmos-sdk we're using for decoding part have dependencies on Amino 0.9.9. It's not a big problem, I created a new branch that supporting the version 0.9.9 on Js-Amino.

[2018-08-30 02:34] TanNgocDo commented on #220
By the way, from 0.10, it seems Type3_Interface was commented out. I'm doing some tricky stuff for js-amino to adapt it

[2018-08-30 16:22] jaekwon commented on #219
yes :)

[2018-09-03 22:32] KellerFuchs commented on #174
@Liamsi Looks like it pretends protobuf objects are maps.

[2018-09-06 14:07] ebuchman opened #223 "Encoding for time should be the same as Google.Protobuf.WellKnownTypes.Timestamp"
There is some pretense that we are the same as the Google.Protobuf.WellKnownTypes.Timestamp but turns out we're not.

See the note in https://github.com/tendermint/tendermint/blob/develop/types/proto3/block.proto#L43

And the code in Amino: https://github.com/tendermint/go-amino/blob/faa6e731944e2b7b6a46ad202902851e8ce85bee/encoder.go#L128-L139

We should fix amino so this aligns properly, unless

[2018-09-06 14:24] liamsi commented on #223
same as https://github.com/tendermint/go-amino/issues/208

[2018-09-10 22:05] liamsi commented on #220
Yeah, we probably won't need them anymore. I would recomend that you'd implement the latest amino version instead. It could also be much simple (using a proto fork instead of starting from scratch).
Closing this for now.

[2018-09-10 22:05] #220 closed, assigned to nobody

[2018-09-10 22:09] #187 closed, assigned to nobody

[2018-09-12 04:45] ValarDragon opened #226 "Remove the usage of "writers" for speedups"
Basically due to our usage of "writers" in all of the encode functions, the buffer in all of these is forced to escape to the heap. (As it can't tell where the pointer to it ends, due to writer being an interface)

Run
[code]
and enjoy the interesting knowledge from the escape analysis :D
one example:
`./encoder.go:39:22: buf escapes to heap`.

[2018-09-12 10:35] liamsi commented on #226
That's pretty cool! I didn't know you can do this so easily (escape analysis).

Even if we don't have any numbers on how beneficial it will be, it should be simple enough to change the encode function to be of the form:
`EncodeT(thing T) []byte` (instead currently `EncodeT(w io.Writer, thing T) error`)

Yet this change would be breaking. Hence, I think this should be a pre-launch priority.
Do you

[2018-09-19 17:49] rigelrozanski commented on #165
would still be useful!

[2018-09-19 17:51] liamsi commented on #165
Yes, I agree! Sorry  for letting this slip.
With the next release! This would be a fairly simple change but I'm busy with other things. Maybe this is sth. @mossid could take over in the meantime?

[2018-09-28 23:05] ebuchman commented on #156
Closing for https://github.com/tendermint/go-amino/issues/164.

Also I believe this is now done! Go team!

[2018-09-28 23:05] #156 closed, assigned to nobody

[2018-10-02 14:51] siman commented on #210
Hi guys, I am developing TM ABCI dapp in Node.js so I also need this js-amino. What is the status of this lib? Is it ready to use or any other implementations for JS/Node?

[2018-10-02 15:43] TanNgocDo commented on #210
There are 2 braches, branch master works well with encode and decode , but encoding with 'interface' type has not supported yet. Another branch is ok with encoding complex interface but there is no decoding part. It only takes me around 1-2 days to finish it, but I'm to busy today to write a docu and fulfill it.Could you please checkout the code/raise an issue. I will try my best to fix bugs as so

[2018-10-02 16:08] faboweb commented on #210
Hey @TanNgocDo have you seen https://github.com/irisnet/irisnet-crypto/blob/master/chains/iris/amino.js ?

[2018-10-03 04:02] TanNgocDo commented on #210
Thanks @faboweb  . Have it opened full  source code ? I have a quick check, I see it's using Node Js Buffer, may the React-Native mobile use it too ?

[2018-10-09 15:38] ValarDragon opened #231 "Add a way to get the amino route of a concrete struct from a codec"
For example, this was needed in https://github.com/tendermint/tendermint/pull/2574#event-1892641912.
The API may look like:
`cdc.GetConcreteStructRoute(<struct>, <interface>)`

[2018-10-15 09:14] liamsi commented on #223
Closed via #224

[2018-10-15 09:14] #223 closed, assigned to nobody

[2018-10-15 09:14] liamsi commented on #208
Closed via #224

[2018-10-15 09:14] #208 closed, assigned to nobody

[2018-10-15 09:17] liamsi commented on #219
First step (rename MarshalBinary) was addressed in #222. Will update depending projects to use the new API. After that we could either rename `MarshalBinaryBare` to `MarshalBinary`, or, we could keep the `Bare` postfix.

[2018-10-24 11:02] liamsi opened #237 "Default encoding of unsigned ints"
Summary of proposed changes: https://github.com/tendermint/tendermint/issues/2684

tl;dr: Current encoding in amino: amino's `int32` matches protobuf's `zigzag32` (which is an `sint32` in the proto file and which generates a `int32` but `zigzag32` encoded in go-lang)
Desired behaviour: default e.g., `int32` encoding to protobuf's `varint` encoding (which is a `int32` in the proto file and which al

[2018-10-26 12:06] liamsi opened #239 "Reintroduce zigzag encoding via tag"
As per #238 `int`s, `int32`s, and `int64`s aren't zigzag encoded by default. Add a tag such that developers can still zigzag encode. If they need to encode ints which often contain negative numbers this is more efficient.

TODOs:
 - [ ] add a tag
 - [ ] add back tests (see: https://github.com/tendermint/go-amino/pull/240#discussion_r228562934)

Zigzag encoding is used in proto3 for encoding `sint(

[2018-10-26 12:10] liamsi commented on #231
@ValarDragon do we need this pre-launch? Looks like we have a workaround in tendermint.

[2018-10-29 13:14] liamsi commented on #237
closed via #238

[2018-10-29 13:14] #237 closed, assigned to nobody

[2018-10-29 13:24] liamsi commented on #165
resolved by #228

[2018-10-29 13:24] #165 closed, assigned to nobody

[2018-10-30 04:44] nnkken opened #241 "Amino cannot encode big.Int from math/big correctly"
[code]

Expected result: printing some binary representation of `1234` as []byte, and getting back `1234` in `n2`
Actual result: printing `[]` and `<nil>`

It this a bug or by design?

[2018-10-30 09:07] liamsi commented on #241
`big.Int`s aren't supported: although they are a struct (and hence could be encoded without an error), their fields are not-exported:
[code]
 If you really need to encode them you could use their string representation though. This should work for instance:
[code]

[2018-10-30 09:43] nnkken commented on #241
Got it. I'm now working around by having a struct wrapping `*big.Int` and implementing `MarshalAmino` and `UnmarshalAmino`:

[code]
(I don't need to support negative numbers, so using `.Bytes()` is OK for me)

I cannot find the document of `MarshalAmino` and `UnmarshalAmino`, so I'm not sure that this is correct, but at least `MarshalBinaryBare` and `UnmarshalBinaryBare` works for me.

[2018-10-30 10:28] liamsi commented on #241
That works as well. MarshalAmino and UnmarshalAmino will be called when calling MarshalBinaryBare and UnmarshalBinaryBare.

[2018-10-30 10:28] #241 closed, assigned to nobody

[2018-11-02 10:24] liamsi commented on #27
The API changed a lot since the old wire days. The duplicate checks do not exist in that form anymore.

[2018-11-02 10:24] #27 closed, assigned to nobody

[2018-11-02 10:28] liamsi commented on #55
`Bytes` have been renamed to `HexBytes` and moved to `tendermint/libs/common/bytes.go`

[2018-11-02 10:28] #55 closed, assigned to nobody

[2018-11-02 10:34] liamsi commented on #58
We have `MarshalBinaryBare` which does not len-prefix the whole message. For arrays we need to make sure we do not break protobuf compatibility.

[2018-11-02 10:34] #58 closed, assigned to nobody

[2018-11-02 10:39] liamsi commented on #59
Amino now follows proto3s behaviour. (Lengths are prefixed using a uvarint BTW)

[2018-11-02 10:39] #59 closed, assigned to nobody

[2018-11-02 10:47] liamsi commented on #63
Thanks for the suggestion! We are quite happy with using the combination of assert and table-driven tests and two fuzzers for randomising tests. Closing this for now. We'll keep an eye on testing/quick though and might use it when it makes sense.

[2018-11-02 10:47] #63 closed, assigned to nobody

[2018-11-02 10:57] liamsi commented on #105
Grep'ing in testfiles, I couldn't find any `_df` or `_v` fields anymore. Looks like this can be closed. Although, I've seen a some vars in the code which begin/end with underscores (mostly `_n` for the number of bytes read, or `bz_`).
Closing for now. We can easily find most occurrences using golint which I'd like to introduce eventually anyways.

[2018-11-02 10:57] #105 closed, assigned to jaekwon

[2018-11-02 10:58] liamsi commented on #98
This was optimized by @ValarDragon in https://github.com/tendermint/go-amino/pull/225

[2018-11-02 10:58] #98 closed, assigned to jaekwon

[2018-11-02 11:02] liamsi commented on #97
There are several comments (and checks) now that clarify that nanos are in the range [0, 999999999]. This cast probably should be closer to the code where `ns` are actually used though.

[2018-11-02 11:06] odeke-em commented on #98
Thank you for the follow up @Liamsi! Just for reference that then means that any project using Go-Amino will have to use Go1.9+

[2018-11-12 03:31] Lunagram opened #245 "'decoder.go / encoder.go' overflows int issue when cross compile c(for android)"
I've cross-compile cosmos-sdk v0.26.1-rc1 with c(androideabi).
However, an error has occurred.

**[Got message]**
../../../../vendor/github.com/tendermint/go-amino/decoder.go:246:44: constant -62135596800 overflows int
../../../../vendor/github.com/tendermint/go-amino/decoder.go:246:44: constant 253402300800 overflows int
../../../../vendor/github.com/tendermint/go-amino/encoder.go:147:38: constan

[2018-11-12 06:47] liamsi commented on #245
Thanks for raising this issue! This should have been fixed with #242 though. Did you try to cross-compile amino from the latest master, or the tagged release `0.14.1`?
Thanks again!

[2018-11-12 07:02] liamsi commented on #245
OK, I see. cosmos-sdk v0.26.1-rc1 uses `v0.14.0`: https://github.com/cosmos/cosmos-sdk/blob/bb54a0de127e45713f272217f578c0abe53a5b21/Gopkg.toml#L29-L31

[2018-11-12 07:15] Lunagram commented on #245
I'm, sorry. I accidentally made a pull request to the master brench.

[2018-11-12 07:18] liamsi commented on #245
No problem. We can change the base branch to develop. Thanks! I'm still sure this problem doesn't exist in the latest release though. Can you try to cross-compile amino [0.14.1](https://github.com/tendermint/go-amino/releases/tag/v0.14.1)? Does the problem still persist?

[2018-11-12 07:37] Lunagram commented on #245
The issue has been resolved with 0.14.1! Thank you!

[2018-11-12 07:37] #245 closed, assigned to nobody

[2018-11-23 19:17] vicnaum commented on #223
Docs mention this issue as "to be resolved" in a NOTE at **Time** section:
https://github.com/tendermint/tendermint/blob/master/docs/spec/blockchain/blockchain.md

If it's done, the NOTE should be removed from docs.

[2018-11-27 11:01] ironman0x7b2 opened #249 "Using time.Time pointer with nil value in Structs"
[code]

In the above code, why am I getting Unix start time when I do unmarshal?
How can I get `nil` for the field T when I do unmarshal?

[2018-11-27 12:40] liamsi commented on #249
In amino, as in protobuf with which we want to be compatible, there is no difference in encoding default values and empty/missing values. The default value for time is the unix start time.

Time is a bit tricky though: In protobuf the equivalent struct would actually be decoded as you expected (nil). See for instance this test:
https://github.com/tendermint/go-amino/blob/dc14acf9ef15f85828bfbc561e

[2018-11-27 13:20] ironman0x7b2 commented on #249
@Liamsi Thank you for your clarification

[2018-11-27 13:20] #249 closed, assigned to nobody

[2019-01-15 14:47] liamsi opened #250 "Expose (and document) an amino.(Binary/Json)Marshaller interface"
It is possible to write custom (un)marshallers in amino. This isn't documented, neither is there an interface that clarifies which methods need to be implemented (an equivalent of https://golang.org/pkg/encoding/json/#Marshaler for).

[2019-02-11 11:04] patrickwieth opened #251 "Error message not concise"
So this is not a real bug, but an error message that could be more helpful:

https://github.com/tendermint/go-amino/blob/master/amino.go#L337

The error message fits well for the case in L339 but in L337 it should not inform that the prefix bytes are wrong but are missing. I thought I messed up registering the codec or something like this but actually the data was empty due to another bug.

[2019-02-11 13:06] liamsi commented on #251
Thanks @patrickwieth!

[2019-02-12 18:59] zramsay commented on #198
#252

[2019-02-20 20:46] #198 closed, assigned to nobody

[2019-03-04 04:14] hleb-albau commented on #210
Still, need js-amino.....
@TanNgocDo do a great job, maybe we can somehow grant that initiative?

[2019-03-04 16:21] liamsi opened #254 "Investigate amino performance/mem usage"
While looking into adding amino to this list: https://github.com/alecthomas/go_serialization_benchmarks (see this branch: https://github.com/Liamsi/go_serialization_benchmarks/tree/add_amino), it seems like amino is quite slow compared to other similar libraries:
[code]

Hopefully, we should be able to vastly improve this performance without completely reworking the structure.

Here is what the pr

[2019-03-06 14:26] liamsi opened #256 "Updating test framework reveals a bunch of failing tests"
While playing with go modules, I realized that a bunch of tests started failing in https://github.com/tendermint/go-amino/pull/255

Note, this is not related to go modules at all! This is due to some outdated dependencies. Probably, testify/assert was buggy. `dep ensure -update` will expose the exact same failing tests.

Click below to expand which tests are failing:
<details>

[code]

</details>

[2019-03-06 15:28] liamsi opened #258 "Enable more linters"
With #255 (not merged yet) we've switched to `golangci-lint`. Most linters are disabled though as the code wouldn't pass those lints.

We should enable a few more (ideally all) linters one by one (in separate PRs). We should start with `go vet`.

[2019-04-20 11:53] folex opened #260 "Protobuf3 compatibility and repeated nulls"
Hi!

I'm trying to reproduce Amino encoding of the `Block` and `Commit` structures in Scala/Java, and I found an obstacle...

When `Precommits` field contains `nils`s, it seems that Amino encodes a `nil` value as `00` (along with type prefix ofc).

But AFAIK in protobuf3, it's impossible to have a null as a value in repeated field.

Here's the code to show `00`:
[code]

Output
[code]

The only way

[2019-04-21 09:57] liamsi commented on #260
Thanks for reporting this! I always thought   there must be some edge cases where amino still behaves slightly differently than protobuf.

Do you mind sharing the .proto files with us? (Sounds like you’ve created some for Block and Commit?)

Thanks again :)

[2019-04-21 21:06] folex commented on #260
Thanks for the response!

[code]
**Upd:** oh, I missed some structures:
[code]

[2019-04-24 10:37] liamsi commented on #260
Amino allows you set a flag per field (`amino:"empty_elements"`) which will disallow `nil` in repeated fields (with `nil struct pointers not supported when empty_elements field tag is set`). Maybe we should use this one in tendermint 🤔 to have this behaviour:

And thanks a lot for the protobuf files! I'm looking into encoding most/everything in tendermint using gogo/protobuf while keeping the go-s

[2019-04-24 11:51] folex commented on #260
It would be great having encoding in vanilla protobuf! It would be much easier to achieve Tendermint-compatible behaviour in other programming languages :)

**As a side question:**
If I understood correctly, you're keeping both hand-written Go structs and protobuf-generated Go structs?

Wouldn't it be better to use protobuf-generated structs where possible, or embed them in hand-written structs wh

[2019-04-24 14:48] liamsi commented on #260
That is the idea, yes.

I agree. There is some pushback by the team on this idea though. Basically due to the following reasons:
Our go-structs aren't merely messages that are passed around but come with additional functionality (e.g validation logic). We would also pass protobuf generated go-code all over the code (the whole tendermint code would be "infested by proto-generated code"). The refact

[2019-04-24 14:55] liamsi commented on #260
Just to double-check: In your example, the type in the rpc would be different, right (it currently says `2`).

[2019-04-24 16:00] folex commented on #260
Yep, type would be `12`, my bad. Fixed, thanks :)

[2019-04-24 16:11] folex commented on #260
Yep, using generated DTOs as a first-class structures sounds pretty bad...

The better way would be to use protobuf-generated structs "at the end", i.e., convert first-class Go structures to protobuf-generated ones, serialize them, and then sign.

This way, the signature verification would be easy to implement in any language, since you could just use existing protobuf library, and binary encoding

[2019-04-25 06:05] liamsi commented on #260
That is basically the approach I've experimented with (in the branch I've posted). But using gogo/protobuf's custom types too. I'm not sure it is the best idea.

Yeah, that is a valid concern. In practice I would not worry too much about this though. I think if you use floats or maps you will end up with different byte outputs. amino just doesn't allow those by default. I think the risk is more th

[2019-04-26 03:12] jackzampolin commented on #260
Great discussion @folex and @Liamsi!

Totally agree with the following 👇

[2019-05-01 14:51] mossid opened #261 "Skip null fields on json decoding when omitempty"
`omitempty` is supported on json encoding(https://github.com/tendermint/go-amino/blob/master/json-encode.go#L301) but not on decoding.

[2019-05-02 14:00] liamsi opened #263 "Fuzzer doesn't work with modules"
Before prepping the release, I tried to run the json fuzzer and ran into this:
https://github.com/dvyukov/go-fuzz/issues/195

[2019-05-02 14:16] liamsi commented on #263
workaround: ~~https://github.com/dvyukov/go-fuzz/pull/237~~
Run fuzzer with `env GO111MODULE=off go-fuzz-build github.com/tendermint/go-amino/tests/fuzz/json`

[2019-05-10 17:46] jackzampolin opened #266 "Add hash commit for serialized JSON as part of amino encoding"
Currently the amino format for encoding data is as follows:

[code]

We propose adding an optional encoding format (to be decided at codec creation) that will encode data as follows:

[code]

Where `sha256(JSON)` is the sha256 hash of the minified JSON representation of the `protoEncodedData`.

If this method was implemented and used in the store of Tendermint based chain, then full nodes could se

[2019-05-10 18:48] alexanderbez commented on #266
Interesting! It should probably hash the sorted minified JSON blob, right? Also, are there any alternatives that don't require additional overhead? Serialization is already pretty slow as-is.

[2019-05-10 19:39] ValarDragon commented on #266
32 bytes per state entry is a very large number. Since state tree size optimizations haven't been prioritized (and won't for the foreseeable future AFAIK), I think this is something that needs alot of consideration.

The big question I have is that can't the clients needs be met by using Rust amino to convert an amino blob to a json blob. When I mentioned this to @jackzampolin, there was concern a

[2019-05-11 00:30] zmanian commented on #266
The only alternative we've thought of it is storing schema descriptions for the data in the store and under the typ3 key.

[2019-05-11 04:09] alessio commented on #266
@alexanderbez dixit:

That is my concern as well. Benchmarks may help assessing the impact.

[2019-05-11 04:36] zmanian commented on #266
Here is the way I think of the trade offs.

We have 3 goals.

1. State machine correctness and state machine developer ergonomics
2. Performance
3. Client developer ergonomics.

Right now we have a decent story for 1 and terrible 2 and 3.

this solution further sacrifices 2 for big improvements in 3.

There are alternative solutions involving aligning more closely with protobuf that improve both 2

[2019-05-13 10:49] liamsi commented on #266
The idea to use wasm should be further explored before either trying to build implementations in other languages or modify (and break) the existing amino encoding. If possible, I would rather compile the go-code to wasm (instead of the Rust implementation which isn't complete):
https://github.com/golang/go/wiki/WebAssembly

[2019-05-13 12:28] zmanian commented on #266
The proposed alternative to this is start looking at specific responses from the store that we can handle with protobuf. I think the best starting point would be a protobuf that can handle the account query.

[2019-05-13 19:57] liamsi opened #267 "Consider proto.Any / proto compatible message for registered types"
Currently "registered types" are done via prefixing the (proto) encoded struct bytes with its "prefix bytes" as described in the [Readme](https://github.com/tendermint/go-amino/blob/master/README.md#interface).
An alternative we could consider is to use proto.Any:
  - https://github.com/protocolbuffers/protobuf/blob/78ca77ac8799f67fda7b9a01cc691cd9fe526f25/src/google/protobuf/any.proto#L122-L155

[2019-05-13 20:58] liamsi commented on #260
ref: https://github.com/tendermint/go-amino/issues/212

[2019-05-13 21:07] liamsi opened #268 "Disallow int de-/encoding"
Amino allows to encode `int` for convenience and while the underlying varint encoding doesn't waste bytes on the wire it remains unclear how this translates to the existing proto3 types (int32, int64). Disallowing `int` would resolve this and probably is not a bad idea anyways (as `int` is platform dependant). The SDK and the tendermint team seem onboard with doing the necessary changes.

Alternat

[2019-05-13 21:58] mossid commented on #267
As another alternative, we can tweak the prefix bytes generation to make it proto field bytes. The available range of field numbers is `1 - 2^29-1` which is encoded into max 4 bytes varint(with 3 bytes 5 bit modifiable bits). This is narrower than current range and we cannot use disfix bytes, but I think this can be covered by other mechanics, such as rehashing several times to find unreserved pre

[2019-05-14 00:42] jordaaash commented on #267
Interesting!

I saw this @ https://github.com/protocolbuffers/protobuf/blob/78ca77ac8799f67fda7b9a01cc691cd9fe526f25/src/google/protobuf/any.proto#L144-L146

[code]

There's also this issue: https://github.com/protobufjs/protobuf.js/issues/435

I'm not very familiar with protobuf in general, so I'm not sure how to determine whether this is supported.

[2019-05-14 06:20] liamsi commented on #267
@jordansexton I think proto.Any is well supported by now in JS implementations. I have not experimented with it a lot though, at least not in JS.

@mossid Thanks! If I understand you correctly, you are suggesting to encode registered messages like this:
[code]

or even (?):

[code]

The main benefit / motivation for this instead of `Any` would be that we can save some bytes on the wire with this a

[2019-05-14 08:01] mossid commented on #267
Not exactly, but I think that will also work.

[code]

is closer, where the fields values are encoded into varlength prefix bytes. @Liamsi And yes both alternatives will take much smaller size on encoded form than storing full type url.

One problem with this alternative is that the size is limited to 29bit, so we cannot add disamb prefix when collision happens. Using large field numbers by defaul

[2019-05-14 08:20] liamsi commented on #267
`oneof` would be even more compact but has the downside that the order of fields (inside the `oneof`) has to be exactly the same for everyone involved. That makes it more difficult to coordinate when we want to extend this and add another concrete implementation (every app / module developer need to have the same oneof). With `proto.Any` it is only the new type URL(s) you care about that you need

[2019-05-14 12:11] liamsi commented on #267
After chatting with @mossid over lunch: he is indeed proposing to use the prefixes as the field number. Some things to consider:

https://developers.google.com/protocol-buffers/docs/proto#assigning-field-numbers

I think collisions are less of a concern. Wouldn't we only need to prevent collisions per interface (oneof message)? These should be less likely than "global collisions". This approach wo

[2019-05-14 12:57] liamsi commented on #267
I think using `proto.Any` instead of `oneof` providers users more flexibility & more convenience when they want to add their own types (any two side communicating just need to know the URL/name and the value can simply be *anything* proto encoded; parties talking to each other need of course to know what the value will be).

The `oneof` approach is closer to what we have now and needs slightly mor

[2019-05-14 13:26] mossid commented on #267
After discussing: `proto.Any` is essentially a pair of `{type_url, value}`. The binary file which handles the `Any` switches over the `type_url` and manually decodes the `value`. This seems more flexible, as we don't have to modify interface type messages each time we add a new concrete type on it. However, the `type_url` is a human readable url-style dynamic length string. Considering that the co

[2019-05-14 13:38] liamsi commented on #267
Speaking in terms of protobuf this means introducing another wrapper type which is very similar to proto.Any. The wrapper would be message like this:

[code]

Instead of switching over the URL, users will need to switch over the prefix bytes; the prefix bytes will be computed by via the name as usual in amino:
https://github.com/tendermint/go-amino/blob/dc14acf9ef15f85828bfbc561ed9dd9d2a284885/cod

[2019-05-14 14:13] liamsi commented on #267
Note: @mossid also suggested that the message could also look like this (to make sure the prefix bytes are indeed just 4 bytes).

[code]

Joon is thinking of ways to further optimize this and will post his thoughts later.

[2019-05-14 14:23] mossid commented on #267
Found out that the fixed32 and fixed64 are efficient than varint only if the size is bigger than 3bytes 4bit and 7bytes, respectively, which is not for the prefix/disfix case, as each takes 3 bytes and 7 bytes. Using varint will be more efficient.

[code]

The encoder will:
- If a value is not registered, it is simply used as a message, not using `BytePrefixedAny` at all.
- If a value is registere

[2019-05-14 17:57] alexanderbez opened #269 "JSON serialization of embedded types"
I'm not sure if this was the intended functionality, but when it comes to JSON marshaling a struct which contains an embedded struct(s), the resulting JSON output is not directly compatible with the Go's JSON stdlib.

Go's JSON library flattens the entire structure and if any conflicting types are found, accepts the _last_ one. Example: https://play.golang.org/p/MZF47ZEKp8t

go-amino does not do t

[2019-05-14 21:21] liamsi commented on #269
Hmm, amino does't try to be fully compatible with the standard json library but rather with the behaviour of protobuf/jsonpb. So how would embedding a struct in protobuf look like? How would it look like in a protobuf message? Not possible unless you actually copy the fields of the struct to be embedded or introduce a field for that struct (in both cases it would be explicit how to deal with confl

[2019-05-15 11:54] alexanderbez commented on #269
I see. Yes @Liamsi, I think the workaround is fine for now. Maybe even document it somewhere and clearly note it. Idk how proto behaves in this context.

[2019-05-15 12:31] #261 closed, assigned to nobody

[2019-05-15 12:53] liamsi commented on #266
I think the way to move forward here is to make amino fully protobuf compatible (even the parts that use prefix bytes). The discussion is happening here: #267 and that milestone gives an overview on the work that needs to happen: https://github.com/tendermint/go-amino/milestone/1 (might be not complete yet)

[2019-05-15 12:53] liamsi commented on #263
Fixed via #264

[2019-05-15 12:53] #263 closed, assigned to nobody

[2019-05-15 12:54] liamsi commented on #256
fixed in #255

[2019-05-15 12:54] #256 closed, assigned to liamsi

[2019-05-15 12:55] liamsi commented on #266
I'd suggest to close this for now. Feel free to re-open when needed!

[2019-05-15 12:55] #266 closed, assigned to nobody

[2019-05-15 12:58] liamsi commented on #199
As we want to keep full protobuf compatibility, I think this can be closed. Please, re-open if you feel strongly about this.

[2019-05-15 12:58] #199 closed, assigned to nobody

[2019-05-15 12:59] liamsi commented on #166
superseded by https://github.com/tendermint/go-amino/milestone/1

[2019-05-15 12:59] #166 closed, assigned to nobody

[2019-05-15 13:06] #97 closed, assigned to jaekwon, liamsi

[2019-05-15 13:07] liamsi commented on #85
Closing as this seems to stem from pre-amino (wire) times.

[2019-05-15 13:07] #85 closed, assigned to nobody

[2019-05-15 13:15] liamsi commented on #102
The API changed substantially and the current reader unmarshaller seem to detect overflows.

[2019-05-15 13:15] #102 closed, assigned to jaekwon, liamsi

[2019-05-21 15:16] liamsi opened #272 "Disallow multidimensinal arrays"
Amino allows encoding of `[][]T` directly or as fields (where `T` can be different from []byte).   This does not have a matching representation in protobuf, meaning that sth. like
`message MsgName { repeated repeated T = 1;}` is not allowed in protobuf (for some
`message T { /* ...*/ }`.

Not sure how much this is used in the SDK. Tendermint only uses [][]byte as far as I can see.

(note that `[][

[2019-05-21 15:24] alexanderbez commented on #272
I don't think this is a problem for the SDK. We don't use `[][]T` in amino encodings from what I can see.

[2019-05-21 17:00] liamsi commented on #272
I was under the same impression. But I was not 100% sure as one can't easy spot type aliases where this still might be used implicitly, e.g.
[code]

Amino certainly allows this as one can see in the tests, e.g.:

https://github.com/tendermint/go-amino/blob/716e3402f1779c3b724841e212eb5753d08cb945/binary_test.go#L16-L20

My suggestion here would be to throw an error in case amino detects this. This

[2019-05-21 17:19] alexanderbez commented on #272
Ahhh yes! Good point. I'll have to double check that we're not doing this, but I doubt we are. And if we are, I'm sure we can resolve it.

[2019-05-21 17:51] liamsi commented on #272
Thanks @alexanderbez!

[2019-05-22 13:41] liamsi commented on #267
I still vouch for the simplest form here from https://github.com/tendermint/go-amino/issues/267#issuecomment-492241358

[code]
This won't waste any bytes either and this is similar to the current simple prefixing.

[2019-05-28 13:04] liamsi opened #273 "Follow-up to #270: support registered type aliases"
Write test and fix: https://github.com/tendermint/go-amino/pull/270#issuecomment-496292609

[2019-05-28 13:05] liamsi commented on #204
Can be closed. The only missing part, will be added in #273 (focused on a small subset of this larger issue).

[2019-05-28 13:05] #204 closed, assigned to nobody

[2019-06-03 13:06] #273 closed, assigned to liamsi

[2019-06-03 23:00] michaelfig opened #275 "Empty slices round-trip as nil"
## Description

I'm using go-amino as the codec in the cosmos-sdk.  I expect that when a zero-length slice
is marshalled then unmarshalled, it would be returned as a zero-length slice (just as `encoding/json` does).

However, what amino actually returns is a `nil` slice.

## Running the test program

The below program shows this output:
[code]

As you see, JSON roundtrips, but Amino does not.

##

[2019-06-04 08:16] liamsi commented on #275
Thanks! A similar problem was noticed a while ago regarding byte slices: https://github.com/tendermint/go-amino/pull/209#discussion_r205491486

This is probably a rather simple change: we need to initialize slices differently (on decoding).

Note to myself: Investigate if this is relevant for https://github.com/tendermint/go-amino/milestone/1

[2019-06-04 12:14] liamsi commented on #275
Actually, given this protobuf message:
[code]
and this test:
[code]

reveals that this is exactly the same behaviour as protobuf:
[code]

In other words: gogoproto, given an encoded `[]int64{}` returns a `[]int64(nil)` when  decoding.

The only difference here is that the byte encoding differs but not semantically (amino returns `[]byte(nil)` while protobuf returns `[]byte{}`).

[2019-06-05 16:03] liamsi commented on #239
removed from the [proto milestone](https://github.com/tendermint/go-amino/milestone/1): My understanding is, we require everything amino encodes can be represented as a protobuf message and not that amino supports every proto feature.

[2019-06-05 16:24] jaekwon commented on #267
It does though... there is an extra key-length (since amino_prefix and value are now two separate arrays), and the BytePrefixedAny itself is also length-prefixed, so there are 2 extra length prefix bytes, as well as the overhead of the top level BytePrefixedAny length prefixing.

I have an idea on how to extend Amino so that we can use OneOf as well as support the existing prefix bytes.  I think t

[2019-06-05 16:32] liamsi commented on #267
That's absolutely right. What I meant was that it does not waste more bytes than necessary, e.g. compared to the separate encoding of pre- and disfix, like described here: https://github.com/tendermint/go-amino/issues/267#issuecomment-492255031, or like using a string based URL scheme (like in proto.Any).

Awesome! I would like to know more. Can you provide a simple protobuf message to explain tha

[2019-06-11 04:15] Thunnini opened #277 "New implementation for typescript(javascript)"
https://github.com/node-a-team/ts-amino
I am a developer from Node A-Team validator. We are currently making an amino implementation by typescript and it will be fully compatible with Javascript. Although [js-amino](https://github.com/cybercongress/js-amino) is useful, I thought of some new ideas to make it better from scratch. Js-amino will be a good competitor to the one I am making right now. A

[2019-08-02 10:17] tac0turtle commented on #159
will follow how other repos are working, will nuke develop here and have master be the default branch, closing this issue as its based on a previous version

[2019-08-02 10:17] #159 closed, assigned to nobody

[2019-08-05 11:20] #126 closed, assigned to nobody

[2019-09-03 17:06] #272 closed, assigned to nobody

[2019-09-08 16:24] rickyyangz opened #286 "values of type "[][]byte" are lost when marshalling"
The latest PR (https://github.com/tendermint/go-amino/pull/283) introduced a bug that as the title described. So multidimensional byte slices/arrays will be marshalled to empty bytes.

I wrote a testcase
[code]
the result is
[code]

BTW, I submitted a report to the hackerone bug bounty program, but the response is not very timely, So I create an issue here.

[2019-09-09 07:43] tac0turtle opened #288 "Add ci fuzz testing"
When https://github.com/dvyukov/go-fuzz/pull/263 & https://github.com/dvyukov/go-fuzz/issues/195 are resolved add fuzz testing to the ci pipline.

[2019-09-12 09:04] zmanian commented on #286
This bug doesn't appear to have any security implications so would be out of scope for the hackerone bug bounty.

I'm looking into if we can potentially do a bug release to fix this while we work on the full protobuf compatibility PRs

[2019-09-12 09:16] zmanian commented on #286
This test case passes on the latest release `v0.15` but does not pass in `master`. `master` is work in progress towards more complete protobuf compatibility.

[2019-09-18 14:25] msuess opened #289 "pointers to false round-trip as nil"
## Description

We're using go-amino in cosmos. We have pointers to boolean values in our message structs in order to be able to differentiate whether a field was omitted or set to `false`.

However, when a pointer to `false` is marshalled then unmarshalled (binary only, the JSON methods work), the resulting value is `nil`.

## Test program

### Source

[code]

### Output

[code]

### Playground l

[2019-10-10 03:46] rickyyangz commented on #254
Two things are not fair for your amino case.
1. Before marshalling, you need to reset timer or stop timer before generating testing data.
[code]

2. the type of `BirthDay` is time.Time while in other cases it is int64

[2019-10-10 13:32] tac0turtle commented on #289
closed with #290

[2019-10-10 13:32] #289 closed, assigned to nobody

[2019-10-29 05:21] biubiaa opened #295 "go test error"
when i use go test ,the terminal show:
[code]
Whether I install go-amino or not, that's what it shows.  how can i fix this

[2019-10-29 05:24] #295 closed, assigned to nobody

[2019-10-29 13:34] tac0turtle commented on #295
Are you still running into this issue?

[2019-11-13 01:53] JamesChenmx opened #299 "Java implementation of Amino"
I want to know, When will have Java implementation of Amino?

[2019-11-13 09:46] tac0turtle commented on #299
Unfortunately, we will not be making a java implementation of amino. We are moving amino to be proto3 compatible and once this is in place there will be less reliance on go-amino.

Will close the issue but please comment if you have any questions and I will answer them.

[2019-11-13 09:46] #299 closed, assigned to tac0turtle

[2019-11-13 09:47] tac0turtle commented on #277
this is amazing, we are moving amino to be proto3 compatible in the coming weeks so hoefully this will speed up things and make it easier to work with

[2019-11-13 09:47] tac0turtle commented on #277
closing this issue, for now, if you have any questions or comments, please reopen the issue

[2019-11-13 09:47] #277 closed, assigned to tac0turtle

[2019-11-13 09:48] tac0turtle commented on #96
closing this in favor of #288

[2019-11-13 09:48] #96 closed, assigned to nobody

[2019-11-13 09:52] tac0turtle commented on #203
- [ ] Document non-extensibility of wire encoded types  https://github.com/tendermint/go-amino/issues/34
- [ ] Document and enforce that wire.RegisterInterface requires an exported receiver interface  https://github.com/tendermint/go-amino/issues/41

adding these two here and closing the issues to better track all doc changes in one issue

[2019-11-13 09:52] tac0turtle commented on #41
closing in favor of #203

[2019-11-13 09:52] #41 closed, assigned to nobody

[2019-11-13 09:53] tac0turtle commented on #34
closing in favor of #203

[2019-11-13 09:53] #34 closed, assigned to nobody

[2019-11-13 09:54] tac0turtle commented on #258
closing this with the most recent PR: https://github.com/tendermint/go-amino/pull/296

[2019-11-13 09:54] #258 closed, assigned to nobody

[2019-11-15 11:44] NicolasMahe commented on #154
I had the same issue and I implemented the solution 3 suggested by @jaekwon. I also force the order the map's keys by sorting them:
[code]
You can implement it without having to redefine a new struct but by simply creating a new type like:
[code]

Check the full PR for more context: https://github.com/mesg-foundation/engine/pull/1502

[2019-12-05 13:17] aaronc commented on #267
Is something along these lines still going to happen? Has a decision on the best approach been made? I remember hearing several months ago that full proto3 compatibility was just around the corner, seems like it's still a WIP

[2019-12-05 16:55] jackzampolin commented on #267
@aaronc We are still working to integrate it through the stack. We have also recently resourced this work again and we should see some movement here.

[2019-12-10 13:32] ethanfrey commented on #267
If I understood the original intention, it was to have byte compatibility and the ability to (dynamically) export protobuf messages that correspond to amino structs, so it is easy to build client in multiple languages. Amino works great as long as all code using the data is in go. And porting amino to multiple languages seems to be a slow process... but maybe finally coming to javascript via jorda

[2019-12-11 01:55] aaronc commented on #267
@ethanfrey the latest work I could find on this is this PR: https://github.com/tendermint/go-amino/pull/276.

I have a bunch of thoughts on the current amino design and what is proposed in the above PR that I intend to comment on soon.

Also, I have heard that @jordansexton has made progress on exporting amino types into typescript or at least has the typescript implementation working pretty well.

[2019-12-11 08:19] tac0turtle commented on #267
the current progress with related to this issue is:

in the Tendermint codebase bez is aiming to solve this issue: https://github.com/tendermint/tendermint/issues/4208, then we start back up again with testing throughout the stack and writing more tests soon after this we hope to cut all the necessary releases to get the changes into the SDK.

If you have design recommendations, please post them h

[2019-12-11 18:48] jordaaash commented on #267
https://github.com/cosmos/amino-js seems to be working decently (based on user reports) for Hub 2 / gaia 1.x. The Go code it contains (for compiling with gopherJS) was manually stripped from the SDK and Tendermint as a proof of concept. The TypeScript types it contains were derived from these, but are fairly incomplete (only some of the interfaces have fields, not much is documented).

I'm current

[2019-12-12 02:27] aaronc commented on #267
I have been writing some quite lengthy thoughts. We are just wrapping up a team retreat here but I see this conversation as quite important and definitely intend to post something this week.

Could you possibly point to where you're working on this export code @jordansexton ?

[2019-12-18 12:37] #288 closed, assigned to tac0turtle

[2019-12-23 23:54] jaekwon opened #301 "Binary hooks and HowTo to optimize hot-paths for binary/json encoding"
The easiest way to override amino binary encoding for speed is prob to mirror these json hooks:

[code]
and
[code]

The binary and json were intentionally written to mirror the code structure, so this kind of translation is easy.

To help keep the convention, please ping me for reviews... there's definitely a lot of value in the way that amino was coded, IMO, so I'd like to preserve that as we kee

[2019-12-23 23:56] jaekwon commented on #301
Also, it may help to also include thin (non-reflection-based, but `o.(interface)` direct Go based) optimization in the top-level amino.go files.  But we should only add lines of code here for proven needs, such that the code itself can act as a standard.

[2019-12-24 01:30] jaekwon opened #302 "DRAFTING: Amino Interface Proposal for proto3 compat version 2"
# Proposed solution:

* a Go interface is encoded as a top-level Proto3 message.  In the example below, the Animal go interface is represented by a Animal proto3 message.

[code]

becomes

[code]

The first option, `option (amino.interface) = true;` serves as a hint to code generators or other client libs, that this is an interface.  The second option, `option (amino.version) = 1` allows clients t

[2019-12-24 03:39] aaronc commented on #302
Thanks for sharing Jae.

So it seems that if you need to know the namespace at field declaration then you theoretically already know all the concrete types in that namespace. Unless I'm misunderstanding something this doesn't actually allow extension of those interfaces with different concrete types in different apps.

[2019-12-24 03:59] aaronc commented on #302
If however you let apps override the concrete types for a namespace that would allow extension. Is that what you're thinking? Wasn't clear from the proposal and the registry service idea makes it sound like they're fixed...

[2019-12-24 05:00] jaekwon commented on #302
Hi Aaron, not sure what you mean by "overhead" but did you mean "override"?  The app is allowed to fork/override any namespace/Interface (e.g. the "canonical" `tendermint/PubKey` mapping with their own, e.g. `unsafe/PubKey`).

So not only can any app define their own Interface<>Concrete mappings (e.g. small field num --> type mapping), but they can have multiple such mappings within the same codec

[2019-12-24 16:08] aaronc commented on #302
Sorry override - autocorrect on mobile.

So what you're describing sounds like how l initially understood the proposal. And what l was commenting on is that this won't solve the problem we have because the namespace is chosen at field declaration and is tightly bound to a set of concrete types. We don't actually have cases where we need the same interface in two different fields with different con

[2020-02-26 16:08] salahzsh opened #309 "How does slice decoding is done?"
https://github.com/tendermint/go-amino/blob/dc14acf9ef15f85828bfbc561ed9dd9d2a284885/binary-decode.go#L547

Hi, I'm trying to decode an StdTx obtained from a node using the go-sdk for the Binance Chain. The StdTx is encoded so using codec.UnmarshalBinaryLengthPrefixed I'm able to decode it to an str json (following this example: https://github.com/binance-chain/node-binary/issues/53). Now I'm tryi

[2020-05-03 15:57] denisvmedia commented on #197
I once solved the issue for my needs, and I then published the result as a library. Maybe it can be used in this case: https://github.com/go-extras/tahwil

[2020-05-05 06:44] hallazzang opened #313 "Typo in comments"
https://github.com/tendermint/go-amino/blob/abb9067d968b637b28b40bbe44436ea274dbe8ae/amino.go#L530

https://github.com/tendermint/go-amino/blob/abb9067d968b637b28b40bbe44436ea274dbe8ae/amino.go#L570

`Besides tha` should be `Besides that`.

[2020-05-05 10:35] #313 closed, assigned to nobody

[2020-06-07 10:58] #309 closed, assigned to nobody